.school-friend-container {
  background: #FFFFFF;
  .school-friend-list {

    .school-friend-item {
      position: relative;
      margin: 2rem;
      height: 13rem;
      box-shadow: 0 3px 20px 4px rgba(222, 225, 240, 0.58);
      border-radius: 4px;
      line-height: 3rem;
      color: #333333;
      .head-image-container {
        img {
          position: absolute;
          left: 1rem;
          top: 1rem;
          height: 11rem;
          width:11rem;
        }
      }
      .nickname-container {
        position: absolute;
        top: 0.2rem;
        left: 13rem;
        font-size: 1.4rem;
      }
      .province-industry-container {
        position: absolute;
        top: 2.6rem;
        left: 13rem;
        font-size: 1.2rem;
        display: inline-block;
        font-weight: 300;
        .img-container{
          img {
            position: absolute;
            top:50%;
            left: 0;
            transform: translateY(-50%);
            height: 1.5rem;
          }
        }
        .text-container{
          margin-left: 1.5rem;
        }
      }
      .company-container {
        position: absolute;
        top: 5.2rem;
        left: 13rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 300;
      }
      .member-container {
        position: absolute;
        top: 9.6rem;
        left: 13rem;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
}
