.show-certificate-container{
  box-sizing: border-box;
  background: #fff;
  padding:2rem;

  .header-container {
    height: 3.0rem;
    text-align: center;
    font-size: 14px;
    .finish-certificate-container {
      display: inline-block;
      width: 50%;
      &.active {
        .border{
          width: 2.2rem;
          padding-top: 1.0rem;
          margin: auto;
          border-bottom: 2px solid #ff983f;
        }
      }
    }

    .grade-certificate-container {
      display: inline-block;
      width: 50%;

      &.active {
        span {
          width: 2.2rem;
          padding-top:1.0rem;
          margin: auto;
          border-bottom: 2px solid #ff983f;
        }
      }
    }


  }

  .select-certificate-container{
    margin-top:2rem;
    .render-container {

      .certificate-section {
        position: relative;
        background: #ffffff;
        box-shadow: 0 3px 20px 4px rgba(222, 225, 240, 0.58);
        border-radius: 4px;
        height: 8rem;
        margin-bottom: 2rem;
        .certificate-name {
          position: absolute;
          top: 45%;
          left: 2rem;
          transform: translateY(-50%);
          height: 2rem;
          font-size: 1.9rem;
          color: #333333;
        }
        .certificate-count {
          position: absolute;
          top: 50%;
          right: 2rem;
          transform: translateY(-50%);
          font-size: 1.2rem;
          color: #b6b7bd;
          text-align: right;
          height: 2rem;
          &::before {
            position: absolute;
            height: 2rem;
            line-height: 2rem;
            left: -1.5rem;
            top: -0.2rem;
            content: "|";
            font-size: 1.2rem;
            color: #b6b7bd;
            text-align: right;
          }
        }
      }

      .no-certificate-container {
        margin-top: 5.2rem;
        text-align: center;
        .show-no-certificate {
          font-size: 17px;
          color: #666666;
        }
        .show-info {
          margin-top: 0.7rem;
          font-size: 14px;
          color: #b6b7bd;
        }
      }
    }
  }



}

