.comment{
  overflow: auto;
  &.has-footer {
    height: ~"calc(100% - 49px)";
  }
  .comment-header{
    font-size:13px;
    line-height:13px;
    color:#666;
    padding:15px 0 15px 15px;
    border-bottom:1px solid #d0d0d0;
  }
  .comment-body{
    margin-bottom:49px;
    .on_message{
      color: #cccccc;
      font-size: 16px;
      text-align: center;
      margin-top: 15px;
      > .no_comment{
        margin-top: 125px;
      }
    }
  }
  .writeDiscuss {
    position: fixed;
    height:55px;
    width:55px;
    left:15px;
    bottom: 68px;
  }
}
