@import "../../../style/variable";

.subject-container{
  .article {
    padding: 0 15px;
    > .article-header{
      width: 100%;
      font-size: @font_title;
      border-bottom: 2px solid @color_strong;
      text-align: center;
      line-height: @font_title;
      padding: 15px 0;
      color: @color_title;
    }
    > .subject-content{
      font-size: @font_context;
      color: @color_context;
      padding: 15px 0;
    }

  }

}
