@import "../../../style/variable";


.discuss-page {
  overflow: auto;
  height: 100%;
  background-color: #fff;
  > .submit{
    > .label-container{
      border-left:1px solid #d0d0d0;
      border-right:1px solid #d0d0d0;
      padding-top:10px;
      padding-bottom:10px;
      color:@color_context;
      font-size:@font_index;
      line-height:@font_index;
      text-align: left;
      padding-left:15px;
      > .tips{
        color: @color_help;
      }
      > .label-item{
        margin-top:2px;
        margin-bottom:2px;
        padding:5px 10px;
        border:1px solid #999999;
        color: @color_help;
        &.selected{
          border:1px solid @color_strong;
          color:@color_strong;
        }
        border-radius:@border-radius;
        text-align: center;
        display: inline-block;
      }
      & + .submit-area{
        border-top:1px  #d0d0d0 dashed;
      }
    }
    > .title-area{
      padding: 15px;
      font-size:@font_context;
      color:@color_context;
      border:  1px  #d0d0d0;;
      border-style:solid solid dashed solid;
      width: ~"calc(100% - 32px)";
      &:-moz-placeholder{
        color: @color_help;
      }
      &:-ms-input-placeholder{
        color:@color_help;
      }
      &::-webkit-input-placeholder{
        color:@color_help;
      }
    }
    > .title-area + .submit-area{
      border-top:none;
    }
  }
}
