.discuss-top-bar-component {
  display: block;
  height: 6rem;
  background-color: #fff;
  .left-title {
    font-size: 2.2rem;
    line-height: 6rem;
    color: #333333;
    float: left;
  }
  .right-title {
    font-size: 1.5rem;
    line-height: 6rem;
    color: #ffa300;
    float: right;
  }
}
