@import "../../../style/variable.less";

.schedule-plan-container {
  background-color: #041931;
  padding: 0 1.5rem 7.0rem;
  .monthly-topic {
    font-size: 2.5rem;
    line-height: 2.5rem;
    background: linear-gradient(to bottom, #feff1c, #ff7800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 4.0rem;
  }
  .schedule-plan {
    font-size: @font_click;
    color: @color_white;
    height: 2.0rem;
    margin-top: 0.5rem;
    margin-bottom: -1.0rem;
    > .plan-button {
      float: right;
      color: @color_white;
      text-decoration: underline;
      &:before {
        margin-right: 5px;
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 3px;
        vertical-align: middle;
        display: inline-block;
        content: '';
        background-size: 100% 100%;
        background-image: url('../../../../assets/img/schedule_plan.png');
      }
    }
  }

  .card {
    background-color: @color_white;
    border-radius: @border-radius;
    margin-top: 2.0rem;
    padding: 0 3.0rem;
    > .empty-container {
      padding-bottom: 3.0rem;
      text-align: center;
      > .empty-text {
        font-size: @font_click;
        color: @color_title;
      }
    }
    > .course-category {
      text-align: center;
      > .category-line {
        width: ~"calc(50% - 3.0rem)";
        height: 1px;
        display: inline-block;
        vertical-align: middle;
        background-color: #000;
      }

      > .category-title {
        margin: 0 1.0rem;
        width: 4.0rem;
        display: inline-block;
        font-size: @font_index;
        line-height: @font_index;
      }
    }

    > .course-container {
      margin: 0 -3.0rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    > .today {
      display: inline-block;
      float: right;
      margin-top: 2.8rem;
      line-height: @font_index;
      font-size: @font_index;
    }
    > .card-icon {
      display: inline-block;
      height: 1.8rem;
      margin: 2.5rem 1.5rem 0 0;
    }

    > .card-topic {
      margin-top: 2.5rem;
      display: inline-block;
      font-size: 1.8rem;
      line-height: 1.8rem;
      color: @color_context;
      margin-bottom: 3.0rem;
      vertical-align: top;
    }
    .progress-name {
      display: inline-block;
      font-size: @font_index;
      line-height: @font_index;
      margin: 1.0rem 1.5rem 2.0rem 0;
      width: 3.6rem;
    }

    .major-progress {
      .weui_progress_inner_bar {
        background: #FFB200;
        background: -webkit-radial-gradient(left center, #FEE53B, #FFB200);
      }
      .progress-percent {
        margin-left: 2.0rem;
        display: inline-block;
        color: #FFB200;
        font-size: @font_index;
        width: 3.5rem;
        text-align: right;
      }
    }
    .minor-progress {
      .weui_progress_inner_bar {
        background: #007DCF;
        background: -webkit-radial-gradient(left center, #399BD3, #007DCF);
      }
      .progress-percent {
        margin-left: 2.0rem;
        display: inline-block;
        color: #007DCF;
        font-size: @font_index;
        width: 3.5rem;
        text-align: right;
      }
      padding-bottom: 2.0rem;
    }
    .progress-bar {
      display: inline-block;
      width: ~"calc(100% - 10.6rem)";
      height: 1.0rem;
      border-radius: @border-radius;
      .weui_progress_bar {
        height: .5rem;
      }
    }

    > .complete-course-container {
      width: ~"calc(100% - 1.0rem)";
      display: inline-block;
      border-left: 2px solid @color_weak;
      margin-left: .8rem;
      > .complete-plan {
        height: 5.5rem;
        margin-right: -3.0rem;
        position: relative;
        &:before {
          content: '·';
          margin-left: -6px;
          font-size: 34px;
          vertical-align: top;
          color: @color_weak;
        }
        border-top: 1px solid @color_weak_background;
        > .plan-close {
          display: inline-block;
          margin: 0 1.5rem 0 1.0rem;
          font-size: @font_index;
          color: @color_title;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          > .plan-close-year {
            text-align: center;
          }

        }

        > .plan-name {
          font-size: 1.5rem;
          line-height: 1.5rem;
          display: inline-block;
          color: @color_context;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          box-sizing: content-box;
          padding-right: 20px;
        }

        > .plan-click {
          font-size: 1.6rem;
          display: inline-block;
          float: right;
          margin-top: 1.5rem;
          margin-right: .8rem;
          color: @color_title;
        }
      }
    }
  }
  .course-card {
    width: 50%;
    margin: 2.5rem 0 1.5rem;
    //display: inline-block;
    > .problem-name {
      margin: 0 auto;
      font-size: @font_index;
      width: 12.0rem;
    }
    > .img {
      border-radius: 0.3rem;
      position: relative;
      margin: 0 auto 1.0rem;
      overflow: hidden;
      width: 12.0rem;
      height: 7.5rem;
      background-repeat: no-repeat;
      background-size: auto 130%;
      background-position: 100% 10%;
      > .problem-item-backcolor {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: 100% 100% !important;
        border-radius: @border-radius;
        &.major {
          background: #FFB200;
        }
        &.minor {
          background: #399BD3;
        }
        &.trial {
          background: #8CD339;
        }
      }
      > .problem-item-backimg {
        width: 6.0rem;
        height: 6.0rem;
        left: ~"calc(50% - 3.0rem)";
        top: ~"calc(50% - 3.0rem)";
        position: absolute;
        background-size: 100% 100% !important;
        background: url("https://static.iqycamp.com/images/fragment/back_img_green_1.png?imageslim");
      }
      > .problem-item-subCatalog {
        width: 100%;
        color: @color_white;
        position: absolute;
        text-align: center;
        font-size: 2.0rem;
        line-height: 2.0rem;
        top: 50%;
        transform: translateY(-50%);
      }

      > .wait-open {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2.0rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: @color_white;
        text-align: center;
        line-height: 2.0rem;
        font-size: 1.2rem;
      }
      > .problem-month {
        text-align: center;
        position: absolute;
        top: 0;
        right: 5px;
        > .month-large {
          font-size: 1.3rem;
          vertical-align: baseline;
        }
        > .month-small {
          font-size: 0.8rem;
          vertical-align: baseline;
        }
        &.major {
          height: 2.5rem;
          width: 2.7rem;
          background: url('../../../../assets/img/yellow_flag.png');
          background-size: 100% 100%;
          color: @color_context;
        }
        &.minor {
          height: 2.5rem;
          width: 2.7rem;
          background: url('../../../../assets/img/blue_flag.png');
          background-size: 100% 100%;
          color: @color_white;
        }
      }
    }
  }

}
