.problem-no-publish-container {
  min-height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 8rem;
  .no-publish-image {
    display: block;
    margin: 0 auto;
    width: 16rem;
    height: 16rem;
  }
  .no-publish-text {
    display: block;
    font-size: 24px;
    color: #041931;
    text-align: center;
    margin-top: 3.6rem;
  }
}
