// 学习页面蓝色配色方案

.rise-main-container-blue {

  .header-img {
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#6bd2ea), to(#05789c)) !important;
    .back-img {
      background: url("https://static.iqycamp.com/images/fragment/back_img_blue_1.png?imageslim");
    }
    > .section {
      color: #87c9eb;
    }
  }

  .plan-main {
    .bottom-platform {
      background: url("https://static.iqycamp.com/images/fragment/bottom_platform_blue_1.png?imageslim");
    }
    .practice-start-btn {
      background: url("https://static.iqycamp.com/images/fragment/start_blue_1.png?imageslim");
    }
  }

  .plan-study-btn-footer {
    .psbf-w-pre-btn {
      color: #6bd2ea !important;
      &:before {
        background: url("https://static.iqycamp.com/images/fragment/left_blue_1.png?imageslim") no-repeat center center/auto 100% !important;
      }
    }
    .psbf-w-next-btn {
      color: #6bd2ea !important;
      &:before {
        background: url("https://static.iqycamp.com/images/fragment/right_blue_1.png?imageslim") no-repeat center center/auto 100% !important;
      }
    }
  }

}
