// 学习页面紫色配色方案

.rise-main-container-purple {

  .header-img {
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#a0b5eb), to(#376cd5)) !important;
    .back-img {
      background: url("https://static.iqycamp.com/images/fragment/back_img_purple_1.png?imageslim");
    }
    > .section {
      color: #dae4ff;
    }
  }

  .plan-main {
    .bottom-platform {
      background: url("https://static.iqycamp.com/images/fragment/bottom_platform_purple_1.png?imageslim");
    }
    .practice-start-btn {
      background: url("https://static.iqycamp.com/images/fragment/start_purple_1.png?imageslim");
    }
  }

  .plan-study-btn-footer {
    .psbf-w-pre-btn {
      color: #a0b5eb !important;
      &:before {
        background: url("https://static.iqycamp.com/images/fragment/left_purple_1.png?imageslim") no-repeat center center/auto 100% !important;
      }
    }
    .psbf-w-next-btn {
      color: #a0b5eb !important;
      &:before {
        background: url("https://static.iqycamp.com/images/fragment/right_purple_1.png?imageslim") no-repeat center center/auto 100% !important;
      }
    }
  }

}
