@import "../../variable.less";

// HeadAreaProps
.simple-question {
  width: 100%;
  background-color: @color_white;
  border-bottom: 1px solid @color_weak;

  .question-topic {
    font-size: @font_context;
    line-height: @font_context;
    color: @color_context;
    margin-top: 8px;
  }
  .question-info {
    margin-bottom: 8px;
    span{
      font-size: @font_help;
      line-height: @font_help;
      color: @color_help;
    }
  }

}

