@import "../../style/variable";

.subscribe-article-container {
  height: ~"calc(100% + 1px)";
  overflow: auto;
  padding-top: 25px;
  padding-bottom: 80px;
  background-color: @color_weak_background;
  .tip-card{
    margin: 0 25px;
    background-color: @color_white;
    box-shadow: 0 0 10px rgba(226, 229, 239, 0.33);
    .tip-read-bottom{
      margin-top: -15px;
      .detail-word{
        display: inline-block;
        margin-left: 80%;
        margin-right: 3px;
        color: #3464e6;
      }
    }
    .tip-body{
      padding: 0 15px 20px;
      .tip-word{
        font-size: 15px;
        color: @font_context;
      }
      .tip-button{
        color: #3464e6;
        border-radius: @border-radius;
        border: 1px solid #3464e6;
        text-align: center;
        width: fit-content;
        width: -webkit-fit-content;
        margin: 10px auto 0;
        padding: 0 10px;
        font-size:14px;
        height: 27px;
        line-height: 27px;
      }
      .tip-feedback{
        float: right;
        font-size: 12px;
        color: #3464e6;
      }
    }

  }

  .article-date{
    padding: 20px 25px;
    font-size: 1.2em;
    color: @color_title;
  }
  .article {
    .article-item {
      width: ~"calc(100% - 80px)";
      margin: 0 25px 30px;
      padding: 25px 15px 10px;
      background-color: @color_white;
      border-radius: @border-radius;
      box-shadow: 0 0 10px rgba(226, 229, 239, 0.33);
      .article-body {
        > .title {
          color: @color_context;
          font-size: 1.8em;
          line-height: 18px;
          text-overflow: ellipsis;
          &.read{
            color: #999;
          }
        }
        > .source {
          color: @color_title;
          font-size: 1.2em;
          margin-top: 2px;
          &.read{
            color: #999;
          }
        }
      }
      .article-bottom{
        margin-top: 10px;
        > .tag-line{
          display: inline-block;
          color: @color_help;
          .tag-span{
            display: inline-block;
            margin-right: 10px;
            font-size: 1.2em;
            line-height: 12px;
          }
        }
        > .favor-button{
          display: inline-block;
          float: right;
          color: #E9BA17;
          border-radius: @border-radius;
          border: 1px solid #E9BA17;
          width: 55px;
          height: 18px;
          text-align: center;
          font-size: 1.2em;
          &.disfavor{
            border: 1px solid #999;
            color: #999;
          }
        }
      }
    }
  }
}
