@import "../../style/variable";
@private_article_padding:12px;
.subscribe-article-container {
  height: ~"calc(100% + 1px)";
  overflow: auto;
  padding-top: 25px;
  padding-bottom: 80px;
  background-color: @color_weak_background;
  .tip-card {
    margin: 0 25px;
    background-color: @color_white;
    box-shadow: 0 0 10px rgba(226, 229, 239, 0.33);
    .tip-read-bottom {
      margin-top: -15px;
      .detail-word {
        display: inline-block;
        margin-left: 80%;
        margin-right: 3px;
        color: #3464e6;
      }
    }
    .tip-body {
      padding: 0 15px 20px;
      .tip-word {
        font-size: 15px;
        color: @font_context;
      }
      .tip-button {
        color: #3464e6;
        border-radius: @border-radius;
        border: 1px solid #3464e6;
        text-align: center;
        width: fit-content;
        width: -webkit-fit-content;
        margin: 10px auto 0;
        padding: 0 10px;
        font-size: 14px;
        height: 27px;
        line-height: 27px;
      }
      .tip-feedback {
        float: right;
        font-size: 12px;
        color: #3464e6;
      }
    }

  }

  .article-date {
    padding: 20px 25px;
    font-size: 1.2em;
    color: @color_title;
  }
  .article {
    .article-item {
      width: ~"calc(100% - 80px)";
      margin: 0 25px 30px;
      padding: 16px @private_article_padding 10px;
      background-color: @color_white;
      border-radius: @border-radius;
      box-shadow: 0 0 10px rgba(226, 229, 239, 0.33);
      .article-body {
        > .title {
          color: @color_context;
          font-size: 1.8em;
          &.read {
            color: #999;
          }
        }
        > .source {
          color: @color_title;
          font-size: 1.2em;
          margin-top: 2px;
          &.read {
            color: #999;
          }
        }
      }
      .article-bottom {
        margin-top: 10px;
        > .tag-line {
          color: @color_help;
          .tag-span {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 16px;
            font-size: 1.2em;
            line-height: 12px;
          }
        }
        > .ops-area {
          margin: 0 -@private_article_padding 5px;
          padding-left: @private_article_padding;
          border-top: 1px solid #f5f5f5;
          .ops-tips {
            padding-top: 16px;
            font-size: 1.2em;
            line-height: 12px;
            display: block;
            text-align: center;
            margin-bottom: 10px;
          }
          .ops-button-area {
            text-align: center;
            display: block;
            .ops-button {
              padding: 0 9px;
              font-size: 10px;
              line-height:19px;
              display: inline-block;
              color: #E9BA17;
              border: 1px solid #E9BA17;
              &.blue {
                color: #007AFF;
                border: 1px solid #007AFF;
              }
              border-radius: @border-radius;
              height: 18px;
              text-align: center;
              &.disfavor {
                border: 1px solid #999;
                color: #999;
              }
              &.first {
                margin-left:-@private_article_padding;
              }
              &.not-first {
                margin-left:@private_article_padding;
              }
            }
          }
        }
      }
    }
  }
}
