@import "../../style/variable";

.learn-point-container{
  .card-person{
    background: #11c2c4;
    background: -webkit-gradient(linear, center top, center bottom, from(#11c2c4), to(#069acd));
    height: 200px;
    > .person{
      padding-top: 50px;
      margin-left: 30px;
      height: 60px;
      > .avatar {
        display: inline-block;
        border-radius: 60px;
        height: 60px;
        width: 60px;
      }
      > .nickname{
        display: inline-block;
        color: @color_white;
        height: 60px;
        margin-left: 10px;
      }
    }

  }
  .card-point{
    position: absolute;
    left: 5%;
    width: 90%;
    top: 150px;
    z-index: 1;
    background: @color_white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    > .card-title{
      font-size: 1.4em;
      text-align: center;
      color: @color_context;
    }
    > .read-word-count{
      font-size: 2.0em;
      color: #1d87ff;
      text-align: center;
    }
    > .card-hr{
      margin-top: 23px;
      height: 1px;
      background-color: @color_weak_background;
    }
    > .report-title{
      margin: 23px 0;
      font-size: 1.2em;
      text-align: center;
      color: @color_title;
    }
    > .echart-report{
      height:300px;
    }
  }
  .share-button{
    border-radius: 10px;
  }

}
