@import "../../../style/variable";

.eva-warm-up {
  background: #423268;
  background: -webkit-radial-gradient(center center, #423268, #000000);
  color: #ededed;
  min-height: 100%;
  height: auto !important;
  //padding-bottom: 40px;

  .modal-container{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    .eva-modal-outbound{
      position:absolute;
      top: 100px;
      width: 249px;
      left: ~"calc((100% - 249px) / 2)";
      .modal-outbound{
        border: solid 2px #11c2c4;
        width: 249px;
        height: 230px;
        border-radius: @border-radius;
        &.wrong{
          border: solid 2px #d67210;
        }
        >.modal{
          margin: 3px;
          padding: 20px 10px;
          height: ~"calc(100% - 46px)";
          background: #11c2c4;
          background: -webkit-gradient(linear, center top, center bottom, from(#11c2c4), to(#069acd));
          font-size: 17px;
          color: #ededed;
          &.wrong{
            background: #d67210;
            background: -webkit-gradient(linear, center top, center bottom, from(#f9bb96), to(#d67210));
          }
        }
      }

      >.modal-button{
        margin: 20px auto 0;
        width:174px;
        height: 57px;
        background: url('https://static.iqycamp.com/images/eva_modal_next.png?imageslim') no-repeat center center / 174px 57px;
        &.wrong {
          background: url('https://static.iqycamp.com/images/eva_modal_next_wrong.png?imageslim') no-repeat center center / 174px 57px;
        }
      }
      >.modal-button2{
        margin: 20px auto 0;
        width:174px;
        height: 57px;
        background: url('https://static.iqycamp.com/images/eva_modal_submit_3.png?imageslim') no-repeat center center / 174px 57px;
        &.wrong {
          background: url('https://static.iqycamp.com/images/eva_modal_submit_wrong.png?imageslim') no-repeat center center / 174px 57px;
        }
      }
    }

  }

  .eva-container{
    overflow: auto;
    padding: 0 45px;
    .eva-progress{
      height: 4px;
      border: 1px solid #724dad;
      .eva-progress-bar{
        background: #9667e1;
        background: -webkit-gradient(linear, left center, right center, from(#39c5e1), to(#ee407b));
        height: 4px;
      }
    }
    .eva-page-header{
      width: 100%;
      height: 45px;
      line-height: 2.5em;
      font-size: @font_title;
      text-align: center;
    }
  }

  .eva-button-footer{
    font-size: @font_title;
    text-align: center;
    margin-top: 30px;
  }

  .eva-last-question{
    left: 18%;
    font-size: 19px;
    line-height: 19px;
    position: relative;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100px;
    &:before{
      content: "";
      background: url('../../../../assets/img/last_question.png') no-repeat bottom center/19px 19px;
      height: 19px;
      width: 19px;
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
    }
  }

  .intro-container {
    > .intro-index {
      margin: 15px 0 10px 0;
      display: block;

      span {
        display: inline-block;
        height: 32px;
        line-height: 32px;
      }

      > .index {
        font-size: @font_index;
      }

      > .tip {
        font-size: @font_index;
        margin-left: 10px;
      }

      > .type {
        margin-left: 14px;
        font-size: @font_index;
        float: right;
        > .number {
          font-size: 1.7em;
        }
      }
    }
    > .question {
      width: 100%;
      margin-bottom: 37.5px;
      white-space: normal;
      word-break: break-all;
      font-size: @font_context;
    }

    > .choice-list {
      margin-bottom: 10px;
      > .choice {
        width: 100%;
        display: table;
        min-height: 50px;
        font-size: @font_context;
        > .index {
          display: table-cell;
          vertical-align: middle;
          width: 25px;
          height: 100%;
          min-height: 50px;
          border-left: 1px solid @color_weak;
          border-top: 1px solid @color_weak;
          border-bottom: 1px solid @color_weak;
          border-top-left-radius: @border-radius;
          border-bottom-left-radius: @border-radius;
          text-align: center;
        }
        > .text {
          display: table-cell;
          width: ~"calc(100% - 30px)";
          height: 100%;
          min-height: 50px;
          vertical-align: middle;
          padding-left: 5px;
          border-top-right-radius: @border-radius;
          border-bottom-right-radius: @border-radius;
          border: 1px solid @color_weak;
        }
        &.selected {
          border-radius: @border-radius;
          > .text {
            background: #069BCD;
            padding-left: 5px;
            //color: transparent;
            //-webkit-text-fill-color: transparent;
            background: -webkit-gradient(linear, center top, center bottom, from(#11c3c4), to(#069bcd));
            //-webkit-background-clip:text;
          }
          > .index {
            background: #069BCD;
            //color: transparent;
            //-webkit-text-fill-color: transparent;
            background: -webkit-gradient(linear, center top, center bottom, from(#11c3c4), to(#069bcd));
            //-webkit-background-clip:text;
          }
        }
      }
      > .choice + .choice {
        margin-top: 15px;
      }
    }
  }
}
