@import "../../../style/variable";

.eva-warm-up {
  background-color: #231930;
  color: #fff;
  min-height: 100%;
  height: auto !important;
  padding-bottom: 40px;
  .modal-container{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    .modal{
      text-align: center;
      position:absolute;
      top:147px;
      font-size: 24px;
      width: 264px;
      height: 169px;
      left: ~"calc((100% - 264px) / 2)";
      background: url('https://static.iqycamp.com/images/eva_modal.png?imageslim') no-repeat center center / 264px 169px;
    }
    .modal-button{
      top:342px;
      width:174px;
      height: 57px;
      left: ~"calc((100% - 174px) / 2)";
      position:absolute;
      background: url('https://static.iqycamp.com/images/eva_modal_submit_2.png?imageslim') no-repeat center center / 174px 57px;
    }
  }

  .eva-container{
    overflow: auto;
    padding: 0 45px;
    .eva-progress{
      height: 4px;
      border: 1px solid #724dad;
      .eva-progress-bar{
        background: #9667e1;
        background: -webkit-gradient(linear, left center, right center, from(#39c5e1), to(#ee407b));
        height: 4px;
      }
    }
    .eva-page-header{
      width: 100%;
      height: 45px;
      line-height: 2.5em;
      font-size: @font_title;
      text-align: center;
    }
  }

  .eva-button-footer{
    font-size: @font_title;
    text-align: center;
    margin-top: 30px;
  }

  .eva-last-question{
    left: 18%;
    font-size: 19px;
    line-height: 19px;
    position: relative;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100px;
    &:before{
      content: "";
      background: url('../../../../assets/img/last_question.png') no-repeat bottom center/19px 19px;
      height: 19px;
      width: 19px;
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
    }
  }

  .intro-container {
    > .intro-index {
      margin: 15px 0 10px 0;
      display: block;

      span {
        display: inline-block;
        height: 32px;
        line-height: 32px;
      }

      > .index {
        font-size: @font_index;
      }

      > .tip {
        font-size: @font_index;
        margin-left: 10px;
      }

      > .type {
        margin-left: 14px;
        font-size: @font_index;
        float: right;
        > .number {
          font-size: 1.7em;
        }
      }
    }
    > .question {
      width: 100%;
      margin-bottom: 37.5px;
      white-space: normal;
      word-break: break-all;
      font-size: @font_context;
    }

    > .choice-list {
      margin-bottom: 10px;
      > .choice {
        width: 100%;
        display: table;
        min-height: 50px;
        font-size: @font_context;
        > .index {
          display: table-cell;
          vertical-align: middle;
          width: 25px;
          height: 100%;
          min-height: 50px;
          border-left: 1px solid @color_weak;
          border-top: 1px solid @color_weak;
          border-bottom: 1px solid @color_weak;
          border-top-left-radius: @border-radius;
          border-bottom-left-radius: @border-radius;
          text-align: center;
        }
        > .text {
          display: table-cell;
          width: ~"calc(100% - 30px)";
          height: 100%;
          min-height: 50px;
          vertical-align: middle;
          padding-left: 5px;
          border-top-right-radius: @border-radius;
          border-bottom-right-radius: @border-radius;
          border: 1px solid @color_weak;
        }
        &.selected {
          border-radius: @border-radius;
          > .text {
            background: #069BCD;
            padding-left: 5px;
            //color: transparent;
            //-webkit-text-fill-color: transparent;
            background: -webkit-gradient(linear, center top, center bottom, from(#11c3c4), to(#069bcd));
            //-webkit-background-clip:text;
          }
          > .index {
            background: #069BCD;
            //color: transparent;
            //-webkit-text-fill-color: transparent;
            background: -webkit-gradient(linear, center top, center bottom, from(#11c3c4), to(#069bcd));
            //-webkit-background-clip:text;
          }
        }
      }
      > .choice + .choice {
        margin-top: 15px;
      }
    }
  }
}
