@import "../../../style/variable";

.eva-result {
  background-color: #231930;
  color: #ededed;
  height: auto !important;
  min-height: 100%;
  padding-bottom: 30px;
  font-size: 17px;
  .result{
    text-align: center;
    margin-top: 20px;
    .text{
      margin: 36px 40px;
    }
  }
  .suggestion{
    text-align: center;
    .text{
      margin: 36px 40px;
    }
  }
  .free-get{
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0;
  }
}
