@import "../../../style/variable";

.eva-result {
  background: #423268;
  background: -webkit-radial-gradient(center center, #423268, #000000);
  color: #ededed;
  height: auto !important;
  min-height: 100%;
  padding-bottom: 80px;
  font-size: 17px;
  .head{
    padding-top: 20px;
    text-align: center;
  }
  .result{
    text-align: center;
    margin-top: 20px;
    .text-result{
      font-size: 19px;
    }
    .text{
      margin: 36px 40px;
      text-align: left;
    }
  }
  .suggestion{
    text-align: center;
    .text{
      margin: 36px 40px;
      text-align: left;
    }
  }
  .schedule{
    text-align: center;
  }
  .free-get{
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0;
  }
  .dialog{
    overflow: auto;
    background: rgba(16, 30, 57, 0.95);
    top:0;
    left:0;
    position: fixed;
    min-height: 100%;
    width: 100%;
    .share-pic-container{
      position: absolute;
      width: 70%;
      left: 15%;
      text-align: center;
      .share-word-title{
        font-size: 16px;
        margin-top: 10px;
      }
      .share-word{
        font-size: 14px;
        margin: 20px -15%;
      }
    }
  }
}
