@import "../../../style/variable";

.eva-result {
  background: #423268;
  background: -webkit-radial-gradient(center center, #423268, #000000);
  color: #ededed;
  height: auto !important;
  min-height: 100%;
  padding-bottom: 80px;
  font-size: 17px;
  .head{
    padding-top: 20px;
    text-align: center;
  }
  .result{
    text-align: center;
    margin-top: 20px;
    .text{
      margin: 36px 40px;
    }
  }
  .suggestion{
    text-align: center;
    .text{
      margin: 36px 40px;
    }
  }
  .schedule{
    text-align: center;
  }
  .free-get{
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0;
  }
}
