.eva-share{
  background: url('https://static.iqycamp.com/images/eva_share_bg.png?imageslim') center center/100% 100%;
  text-align: center;
  color: #fff;
  .share-word-title{
    font-size: 16px;
    margin-top: 10px;
  }
  .share-word{
    font-size: 14px;
    margin-top: 20px;
  }
  .share-pic{
    width: 80%;
    margin: 20px auto;
  }
}
