.mailpage-container {
  width: 1190px;
  .print-nickname {
    font-size: 20.4px;
    color: #333;
    position: absolute;
    top: 37rem;
    left: 16.5rem;
  }
  .mail-image {
    width: 100%;
  }
}
