.scroll{
  height: 40px;
  width: 92%;
  position: absolute;
  bottom: 60px;
  background-color: red;
}

.read{
  color: #cccccc;
}
.unread{
  color: #666666;
}

.on_message{
  color: #cccccc;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  > .no_comment{
    margin-top: 125px;
  }
}
