@import "../../style/variable";

.container {
  > .question {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
    > .origin-question-tip {
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 13px;
      color: @color_theme;
    }
  }

  > .discuss-title-bar {
    color: #666666;
    background-color: #f5f5f5;
    > .discuss-title {
      font-size: 11px;
    }
  }
}
