@import "../../style/variable";

.container {
  > .question {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
    > .origin-question-tip {
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 13px;
      color: @color_theme;
    }
  }

  > .discuss-title-bar {
    color: #666666;
    background-color: #f5f5f5;
    > .discuss-title {
      font-size: 11px;
    }
  }

  > .discuss-cell {
    margin-top: 15px;
    > .discuss-avatar {
      display: inline-block;
      vertical-align: top;
      height: 30px;
      width: 30px;
      > .discuss-avatar-img {
        height: 30px;
        width: 30px;
        border-radius: 15px;
      }
    }
    > .discuss-area {
      display: inline-block;
      margin-left: 5px;
      width: ~"calc(100% - 30px - 5px)";
      > .discuss-ceil {
        > .discuss-name {
          display: inline-block;
          color: #666666;
          font-size: 13px;
        }
        > .discuss-time {
          margin-left: 5px;
          display: inline-block;
          font-size: 13px;
          color: #999999;
        }
        > .right {
          float: right;
          display: inline-block;
          > .reply-icon {
            float: left;
            display: inline-block;
            margin-right: 5px;
            margin-top: 2px;
          }
          > .discuss-replied-button {
            display: inline-block;
            float: right;
            color: #55cbcb;
            font-size: 13px;
          }
        }
      }
      > .discuss-comment {
        font-size: 13px;
        margin-top: 2px;
        width: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      > .discuss-replied-comment {
        font-size: 13px;
        margin-top: 2px;
        color: #999999;
        width: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
      }

    }
  }
}
