@import "../../style/variable";

.container {
  padding: 0 15px 0 15px;
  > .description {
    font-size: @font_context;
    padding: 10px;
  }
  > .origin-question-tip {
    margin-top: 15px;
    font-size: @font_context;
    color: @color_strong;
  }
}
.comment-area {
  margin: 0;
  > .comment-header {
    padding: 0 15px 0 15px;
    font-size: @font_index;
    line-height: @font_click;
    color: @color_help;
    background-color: @color_weak_background;
    margin-bottom: 12px;
  }
}
