@import "../../../../style/variable";
@import "../../annualsummary/AnnualVariable.less";

.annual-auditorium {
  overflow: scroll;
  display: block;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  width: ~"calc(100vw - 5rem)";
  height: 40.5rem;
  z-index: 10;
  background-image: url("@{imgPathRoot}/display-box-5.png?slimimage");
  background-size: cover;
  box-sizing: border-box;
  padding: 2.2rem 2rem 4rem;
  
  .annual-summary-common-text();
  .text1 {
    .annimation-delay(1s);
  }
  .text2 {
    .annimation-delay(2s);
  }
  .text3 {
    .annimation-delay(3s);
  }
  .text4 {
    .annimation-delay(4s);
  }
  .text5 {
    margin-top: 2.5rem;
    .annimation-delay(5s);
  }
}
