@import "../../../../style/variable";
@import "../../annualsummary/AnnualVariable.less";

.annual-school-gate {
  display: block;
  position: fixed;
  left: 50%;
  top: 22%;
  transform: translateX(-50%);
  width: ~"calc(100vw - 5rem)";
  height: 37rem;
  z-index: 10;
  background-image: url("@{imgPathRoot}/display-box-1.png?slimimage");
  background-size: cover;
  box-sizing: border-box;
  padding: 2.2rem 2rem 4rem;
  
  .annual-summary-common-text();
  .text1 {
    .annimation-delay(1s);
  }
  .text2 {
    .annimation-delay(2s);
  }
  .text3 {
    .annimation-delay(3s);
  }
  .text4 {
    .annimation-delay(4s);
  }
  .text5 {
    .annimation-delay(5s);
  }
  .partner {
    .annimation-delay(6s);
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
    width: 15 * 538 / 360rem;
    height: 15rem;
    background-image: url("@{imgPathRoot}/class_partner.png?slimimage");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
