@import "../../../../style/variable";

.annual-auditorium {
  overflow: scroll;
  display: block;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  width: ~"calc(100vw - 5rem)";
  height: 40.5rem;
  z-index: 10;
  background-image: url("@{imgPathRoot}/display-box-5.png?slimimage");
  background-size: cover;
  box-sizing: border-box;
  padding: 2.2rem 2rem 4rem;
  .text {
    font-size: 1.3rem;
    color: #666;
  }
  .highlight {
    color: #f8aa08;
  }
  large {
    font-size: 3rem;
  }
  .text1 {
  
  }
  .text2 {
  
  }
  .text3 {
  
  }
  .text4 {
  
  }
  .text5 {
    margin-top: 2.5rem;
  }
}
