@import "../../../../style/variable";

.annual-init-start {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: url("@{imgPathRoot}/annual_start_background_3.jpg") center bottom / 100% auto;

  .start-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }
  .annual-start-year {
    width: 12.6 * 1.5rem;
    height: 6.4  * 1.5rem;
    position: absolute;
    bottom: 42rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .start-words{
    position: absolute;
    top: ~"calc(100vh - 40rem)";
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    .start-tip {
      font-size: 2.5rem;
      color: #332301;
      text-align: center;
    }
  }

}
