@import "../../../style/variable";

.group-promotion-waiting {
  min-height: 100vh;
  background-color: #041931;
  box-sizing: border-box;
  padding-top: 9.5rem;
  .waiting-image {
    display: block;
    box-sizing: border-box;
    width: 11.2rem;
    height: 11.2rem;
    background-image: url("@{imgPathRoot}/team_learning_beaker_2.png?imageslim");
    background-size: 11.2rem 11.2rem;
    border-radius: 50%;
    margin: 0 auto;
  }
  .waiting-tip-large {
    display: block;
    font-size: 2rem;
    color: #fff;
    line-height: 150%;
    text-align: center;
    margin-top: 3.5rem;
  }
  .waiting-tip-small {
    display: block;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    
  }
  .waiting-invite {
    display: block;
    margin-top: 3.5rem;
    font-size: 1.2rem;
    color: #FFB200;
    text-align: center;
    text-decoration: underline;
  }
}
