@import "../../../style/variable";

.challenge {
  padding-top: 15px;
  height: 100%;
  .intro-container {
    //height: ~"calc(100% - 49px)";
    overflow: auto;
    > .challenge-context{
      .text{
        font-size: 1.3em;
        .tip{
          color: @color_normal;
        }
      }

    }
  }
  .work-container{
    margin-top: 25px;
    > .submit-bar {
      width: 100%;
      background-color: #f5f5f5;
      color: #666666;
      font-size: @font_index;
      padding:0 15px;
      margin-left:-15px;
    }
    > .no-comment{
      font-size: @font_help;
      text-align: center;
      > .submit-btn{
        margin: 15px auto 0;
        width: 70px;
        background-size:100% 100%;
        background-image:url('http://www.iqycamp.com/images/bottom_button_bg3.png');
        color: #ffffff;
        border-radius: 2px;
        height: 22px;
        line-height: 22px;
      }
      > .content{
        margin-top: 15px;
        margin-bottom: 20px;
        > .text{
          line-height: 20px;
          color: #666666;
        }
      }
    }
  }
}
