.certificate {
  .certificate-container {
    border: 5px solid #89c9ce;
    margin: 5% 4% 0 4%;
    height: ~"calc( 95vh - 35px )";
    .upper {
      text-align: center;
      img {
        width: 100%;
      }
      .name {
        position: absolute;
        top: 232px;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        font-weight: bold;
        font-size: 30px;
        color: #333333;
      }
      .cong {
        position: absolute;
        top: 296px;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 1.2em;
      }
    }
    .signature {
      position: absolute;
      top: 385px;
      width: 120px;
      right: 10%;
    }
    .code {
      position: absolute;
      bottom: 50px;
      width: 300px;
      left: 50%;
      margin-left: -150px;
      font-size: 12px;
    }
  }
}
