@import "../../../style/variable";

.certificate-container {
  background-color: #666666;
  height: 100vh;

  .tips {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    width: 260px;
    border-bottom: 1px solid #fdd338;
    text-align: center;
    color: #fdd338;
    padding-top: 15px;
    height: 50px;
  }

  .certificate-image {
    margin: 15px auto 0;
    display: block;
  }
}

