@import "../../../style/variable";

.application {
  height: ~"calc(100% + 1px)";

  .intro-container {
    overflow: auto;
    .application-context {
      .section1 {
        font-size: @font_help;
        line-height: 22px;
        color: @color_help;
      }
      .section2 {
        font-size: @font_context;
        color: @color_context;
        line-height: 24px;
      }
      .knowledge-link {
        color: @color_strong;
        font-size: @font_click;
        padding-top: 15px;
      }
    }
    .application-title {
      text-align: center;
      margin: 18px 0;
      position: relative;
      > * {
        display: inline-block;
        vertical-align: middle;
      }
      > span {
        font-size: @font_title;
        color: @color_help;
        margin-left: 4px;
      }
    }
    > .knowledge-link {
      color: @color_strong;
      font-size: @font_click;
      height: 30px;
      margin-top: 15px;
    }
  }

  .work-container{
    margin-top: 15px;
    .submit-bar {
      width: 100%;
      background-color: @color_weak_background;
      color: @color_title;
      font-size: @font_index;
      padding: 15px 15px;
      margin-left:-15px;
      margin-bottom: 15px;
    }
    .application-article{
      border-bottom: 1px solid #f5f5f5;
    }
    > .no-comment{
      font-size: @font_help;
      text-align: center;
      > .submit-btn{
        margin: 15px auto 0;
        width: 70px;
        background-size:100% 100%;
        background-image:url('https://static.iqycamp.com/images/bottom_button_bg3.png?imageslim');
        color: #fff;
        border-radius: @border-radius;
        height: 22px;
        line-height: 22px;
      }
      > .content{
        margin-top: 15px;
        margin-bottom: 20px;
        > .text{
          line-height: 20px;
          color: @color_help;
        }
      }
    }
    .editor{
      margin-bottom: 10px;
    }
    .show-others-tip {
      padding: 5px 8px;
      border-radius: 5px;
      font-size: 1.2em;
      color: #FFF;
      height: 14px;
      line-height: 14px;
      margin: 5px 0 20px;
      display: inline-block;
      background-size: 100% 100%;
      background-image: url(https://static.iqycamp.com/images/bottom_button_bg3.png?imageslim);
    }
  }

  .complete-box {
    background-image: url("https://static.iqycamp.com/images/fragment/application_waiting_award_2.png");
    background-size: 100% 100%;
    width: 310px;
    height: 242px;
    position: absolute;
    top: 180px;
    left: 32px;

    &.complete {
      background-image: url("https://static.iqycamp.com/images/fragment/application_complete_award.png");
    }

    .complete-tip-content {
      position: relative;
      top: 110px;
      padding: 0 20px;
      font-size: 1.4em;
      color: #333;
    }
  }

}

.main-toast {
  .weui_toast {
    width: 50%;
    left: 25%;
    top: 30%;
    margin: 0 auto;
    min-height: inherit;
    transition: opacity 1s;
    opacity: 1;
  }
}

