@import "../../../style/variable";

.application {
  .intro-container {
    overflow: auto;
    .application-context {
      color: @color_context;
      .section1 {
        font-size: 12px;
        line-height: 22px;
      }
      .section2 {
        font-size: 13px;
        line-height: 24px;
      }
    }
    .application-title {
      text-align: center;
      margin: 18px 0;
      position: relative;
      > * {
        display: inline-block;
        vertical-align: middle;
      }
      > span {
        font-size: 16px;
        color: #999999;
        margin-left: 4px;
      }
      &::before {
        content: " ";
        position: absolute;
        left: 15px;
        margin-top: 12px;
        width: ~"calc(50% - 70px)";
        border-bottom: 1px solid #cccccc;
      }
      &::after {
        content: " ";
        position: absolute;
        right: 15px;
        margin-top: 12px;
        width: ~"calc(50% - 70px)";
        border-bottom: 1px solid #cccccc;
      }
    }
    > .knowledge-link {
      color: #55cbcb;
      font-size: 13px;
      height: 30px;
      margin-top: 15px;
    }
  }
  .work-container{
    margin-top: 25px;
    .submit-bar {
      width: 100%;
      background-color: #f5f5f5;
      color: #666666;
      font-size: 11px;
      padding:0 15px;
      margin-left:-15px;
    }
    > .no-comment{
      font-size: 11px;
      text-align: center;
      > .submit-btn{
        margin: 15px auto 0;
        width: 70px;
        background-size:100% 100%;
        background-image:url('http://www.iqycamp.com/images/bottom_button_bg3.png');
        color: #ffffff;
        border-radius: 2px;
        height: 22px;
        line-height: 22px;
      }
      > .content{
        margin-top: 15px;
        margin-bottom: 20px;
        > .text{
          line-height: 20px;
          color: #666666;
        }
      }
    }
  }
}
