@import "../../variable.less";

// DialogHead
.dialog-head {
  height: 35px;
  position: relative;
  margin-top: 3px;

  .dialog-left {
    height: 100%;
    display: inline-block;

    .dialog-left-headpic {
      height: 32.5px;
      .assetImg {
        border-radius: 50%;
      }
    }
    .dialog-left-content {
      height: 32.5px;
      padding: 3px 5px;
      position: absolute;

      .dialog-name {
        font-size: 1.3em;
        line-height: 1.3em;
        color: @color_title;
      }
      .dialog-time {
        font-size: 1.1em;
        line-height: 1.1em;
        color: @color_weak;
      }
      span {
        display: block;
      }
    }

    div {
      display: inline-block;
    }
  }
  .dialog-right {
    height: 100%;
    position: absolute;
    right: 0;
    display: inline-block;

    .dialog-right-content {
      height: 21px;
      color: #ff8c2b;
      text-align: center;
      font-size: 1.3em;
      line-height: 21px;
      border-radius: 5px;
      border: 1px solid #ff8c2b;
      padding: 0 5px;

      &.disable {
        color: @color_help;
        border: 1px solid @color_help;
      }
    }
    div {
      display: inline-block;
    }
  }
}
