@import "../../../style/variable";

.warm-up-intro {
  height: 100%;
  .intro-container {
    height: ~"calc(100% - 49px)";
    overflow: auto;
    .context-title-img {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    pre{
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
