@import "../../../style/variable";

.warm-up-intro {
  height: 100%;
  .intro-container {
    height: ~"calc(100% - 49px)";
    overflow: auto;
    .context-title-img {
      margin-top: 15px;
    }
  }
}