@import "../../../style/variable";

.warm-up-container {
  box-sizing: border-box;
  padding: 2.5rem 1.5rem 6rem;
  overflow-x: hidden;
  .result-mask{
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    .result-dialog{
      border-radius: .4rem;
      background-color: #fff;
      position: relative;
      margin: 9.9rem auto;
      width: 80%;
      height: 35.2rem;
      .result{
        position: relative;
        top:4.0rem;
        width: 13.8rem;
        height: 13.8rem;
        left: ~"calc((100% - 13.8rem) / 2)";
        .result-title{
          position: absolute;
          font-size: 1.3rem;
          text-align: center;
          line-height: 100%;
          top:4.4rem;
          color: #999;
          width: 100%;
        }
        .result-number{
          position: absolute;
          font-size: 3.6rem;
          text-align: center;
          top:6.0rem;
          color: #000;
          font-weight: bold;
          width: 100%;
          line-height: 100%;
        }
      }
      .award-title{
        position: absolute;
        width: 100%;
        top:20.3rem;
        text-align: center;
        font-size: 1.3rem;
        color: #999;
      }
      .award-detail{
        position: absolute;
        width: 100%;
        top:23.1rem;
        text-align: center;
        font-size: 1.5rem;
        color: #000;
        font-weight: bold;
        span{
          color: #FFC701;
          font-size: 1.6rem;
        }
      }
      .go-analysis{
        position: absolute;
        text-align: center;
        bottom: 1.5rem;
        left: 1.5rem;
        width: ~"calc(100% - 3rem)";
        background-color: #FFC701;
        height: 4.4rem;
        line-height: 4.4rem;
        font-size: 1.5rem;
        color: #fff;
        font-weight: bold;
      }
    }
  }
  .header {
    width: 100%;
    height: 45px;
    font-size: @font_title;
    padding: 10px 0;
    border-bottom: 2px solid @color_strong;
    text-align: center;
    color: @color_context
  }

  .title-bar {
    width: 100%;
    color: @color_title;
    background-color: @color_weak_background;
    padding: 0 15px;
    margin-left: -15px;
    margin-bottom: 10px;
    font-size: @font_index;
  }

  .discuss-container {
    margin-bottom: 50px;
    > .discuss {
      .discuss-bar {
        box-sizing: border-box;
        height: 60px;
        line-height: 60px;
        font-size: 17px;
        color: #333333;
        margin: 0 -15px;
        padding: 0 15px;
        border-bottom: 1px solid @color_weak_background;
        &::before {
          content: ' ';
          display: inline-block;
          background-image: url("@{imgPathRoot}/warmup_answer.png?imageslim");
          background-size: 22px 21px;
          width: 22px;
          height: 21px;
          vertical-align: sub;
          margin-right: 10px;
        }
      }

      > .discuss-end {
        padding: 20px 0;
        text-align: center;
        color: @color_weak;
        font-size: @font_index;
        > .discuss-end-span {
          margin-top: 13px;
        }
        > .discuss-end-img {
          text-align: center;
        }
      }
    }
    .discuss-triangle {
      width: 1px;
      height: 0;
      border-bottom: 10px solid @color_weak_background;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      margin-left: 40px;
    }
    .discuss-padding {
      margin-bottom: 20px;
    }
  }

  .intro-container {
    > .intro-index {
      position: relative;
      box-sizing: border-box;
      margin: 30px 0;
      display: block;
      height: 12px;
      line-height: 12px;

      > .index {
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        color: #999;
      }

      > .tip {
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        color: #999;
        margin-left: 10px;
      }

      > .type {
        margin-left: 14px;
        color: @color_strong;
        font-size: 15px;
        float: right;
        > .number {
          font-size: 24px;
        }
      }
    }

    > .question {
      width: 100%;
      margin-bottom: 37.5px;
      white-space: normal;
      word-break: break-all;
      font-size: 15px;
      color: #333333;
    }

    .write-discuss {
      position: absolute;
      height: 55px;
      width: 55px;
      left: 15px;
      bottom: 68px;
    }

    > .choice-list {
      box-sizing: border-box;
      margin: 0 30px;
      border-top: 1px @color_weak_background solid;
      border-bottom: 1px @color_weak_background solid;
      .choice {
        position: relative;
        box-sizing: border-box;
        padding: 20px 0;
        border-bottom: 1px @color_weak_background solid;
        &:last-child {
          border-bottom: none;
        }
        .index {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          font-size: 0;
          width: 18px;
          height: 18px;
          border-radius: 3px;
          border: 1px solid #CCCCCC;
          &:before {
            box-sizing: border-box;
            content: ' ';
            display: block;
            width: 10px;
            height: 10px;
            margin: 3px auto;
          }
          &.selected {
            &:before {
              background-color: #999;
              border-radius: 1px;
            }
          }
        }
        .text {
          position: relative;
          display: inline-block;
          font-size: 15px;
          line-height: 22.5px;
          vertical-align: top;
          left: 20px;
          width: ~"calc(100% - 38px)";
          color: #333;
          &.selected {
            color: #55CBCB;
          }
          &.right {
            color: #55CBCB;
          }
        }
      }
    }

    > .answer-display {
      box-sizing: border-box;
      padding: 30px 0;
      line-height: 22px;
      font-size: 15px;
      .chosen {
        color: #999999;
      }
      .right {
        color: #55CBCB;
      }
    }

    > .answer {
      margin-top: 25px;
      border-top: 1px solid #d0d0d0;
      > .answer-title {
        font-size: @font_index;
        color: @color_title;
        margin: 10px 0 10px -0.5rem;
      }
    }

    .knowledge-link {
      box-sizing: border-box;
      color: #55CBCB;
      font-size: 12px;
      background-color: @color_weak_background;
      margin: 0 -15px;
      padding: 0 15px 30px;
    }
  }

  .analysis {
    margin: 0 -3rem;
    box-sizing: border-box;
    padding: 0 3rem;
    background-color: @color_weak_background;

    .analysis-icon {
      box-sizing: border-box;
      height: 60px;
      line-height: 60px;
      font-size: 17px;
      color: #333333;
      border-bottom: 1px solid #FFFFFF;
      &:before {
        display: inline-block;
        content: ' ';
        background: url("@{imgPathRoot}/warmup_search.png?imageslim") no-repeat;
        background-size: 23px 23px;
        vertical-align: sub;
        width: 23px;
        height: 23px;
        margin-right: 10px;
      }
    }
    .analysis-context {
      box-sizing: border-box;
      padding: 20px 0;
      font-size: 15px;
      color: #333333;
    }
    .knowledge-link {
      box-sizing: border-box;
      color: #55CBCB;
      font-size: 12px;
      background-color: @color_weak_background;
      margin: 0 -15px;
      padding: 0 15px 30px;
    }
  }

  .progress-section-tip{
    text-indent: -10px;
    width: 18.1rem;
    height: 3.3rem;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3.3rem;
    margin-top: 10px;
    border-radius: 2px;
    > .tip-angle{
      display: inline-block;
      border: 5px transparent solid;
      border-bottom-color: #333;
      position: relative;
      bottom: 1.9rem;
      left: 3.5rem;
      width:0;
      height:0;
    }
  }
}
