@import "../../../style/variable";

.warm-up-ready {
  height: 100%;
  .intro-container {
    height: ~"calc(100% - 70px)";
    overflow: auto;
    > .choice-list {
      margin-left: 22.5px;
      margin-right: 22.5px;
      margin-top: 55px;
      text-align: center;
      > .choice {
        width: 100%;
        border-radius: @border-radius;
        &.review {
          color: #fff;
          height: 70px;
          line-height: 70px;
          font-size: 2.5em;
          background-size:100% 100%;
          background-image:url('http://www.iqycamp.com/images/bottom_button_bg3.png');
          margin-bottom: 40px;
        }
        &.start {
          background-size:100% 100%;
          background-image:url('http://www.iqycamp.com/images/fragment/start_practice.png');
          height: 50px;
        }
      }
    }
    .tips {
      text-align: center;
      > * {
        display: inline-block;
        vertical-align: middle;
      }
      > span {
        margin-left: 3px;
        font-size: @font_help;
        color: @color_help;
        margin-top: 1px;
      }
    }
  }
}