@import "../../variable.less";

// DialogBottomBtn
.dialog-bottom-btn {
  position: relative;
  padding-top: 15px;
  padding-bottom: 40px;

  .dialog-bottom-desc {
    width: 20%;
    font-size: 1.1em;
    color: @color_strong;
    height: 100%;
  }

  .dialog-bottom-btn-area {
    position: absolute;
    right: 0;
    .btn1-right-content {
      height: 23px;
      min-width: 50px;
      color: @color_orange;
      border: 1px solid @color_orange;
      display: inline-block;
      font-size: @font_click;
      text-align: center;
      line-height: 23px;
      border-radius: 5px;
      margin-right: 25px;
      &.disable {
        color: @color_help;
        border: 1px solid @color_help;
      }
    }
    .btn2-right-content {
      height: 23px;
      min-width: 50px;
      color: @color_orange;
      border: 1px solid @color_orange;
      background-color: #FFF;
      display: inline-block;
      font-size: @font_click;
      text-align: center;
      line-height: 23px;
      border-radius: 5px;
      padding: 0 5px;
      &.disable {

        color: #FFF;
        border: 1px solid @color_orange;
        background-color: @color_orange;
      }
    }

  }

}
