@import "../../variable.less";

// DialogBottom
.dialog-bottom {
  height: 30px;
  position: relative;

  .dialog-bottom-desc {
    height: 100%;
    display: inline-block;
  }
  .dialog-bottom-btnarea-1 {
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 100px;

    .btn1-right-content{

    }
    div {
      display: inline-block;
    }
  }
  .dialog-bottom-btnarea-2 {
    height: 100%;
    max-width: 80px;
    display: inline-block;
    position: absolute;
    right: 10px;

    .btn2-right-content {

    }
    div {
      display: inline-block;
    }
  }
}
