@import "../../style/variable";

.more-problem{
  > .simple-page-header{
    padding-left:1.5rem;
    border-bottom:1px solid @color_weak_background;
    position: relative;
    height:6.5rem;
    > .title{
      display: inline-block;
      height: 3.7rem;
      line-height: 5.0rem;
      font-size: @font_context;
      color:@color_title;
      font-weight:bolder;
      &:before {
        display: inline-block;
        content: '';
        width:5px;
        height:@font_click;
        border-radius: 3px;
        margin-bottom:4px;
        margin-right:5px;
        background-color:@color_strong;
        vertical-align: middle;
      }
    }
    > .desc{
      display: block;
      line-height:2.6rem;
      height:2.6rem;
      font-size:@font_click;
      color: @color_help;
      margin-left:1.0rem;
    }
  }
  .more-problem-container{
    .more-problem-box {
      padding: 1.5rem;
      border-bottom: 1px solid @color_weak_background;
    }
  }
}
