@import "../../style/variable";
.more-problem{
  > .simple-page-header{
    padding-left:15px;
    border-bottom:1px solid @color_weak_background;
    position: relative;
    > .title{
      display: inline-block;
      height: @font_context;
      line-height: @font_context;;
      color: @color_help;
      font-size: @font_context;
      padding:10px 0 0;
      &:before {
        display: inline-block;
        content: '';
        width:5px;
        height:@font_click;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;;
        margin-bottom:4px;
        margin-right:5px;
        background-color:#55cbcb;
        vertical-align: middle;
      }
    }
    > .desc{
      display: block;
      line-height:@font_context;
      height:@font_context;
      font-size:@font_context;
      color:@color_title;
    }
  }
  .more-problem-container{

  }
}
