@import "../../style/variable";

.problem-list {
  height: 100%;
  background: url("http://www.iqycamp.com/images/fragment/rise_welcome_bg_2.png");
  background-size:100% auto;
  .tips {
    position: fixed;
    bottom: 50px;
    left: 10px;
    font-size: 13px;
    color: #efefef;
  }
  .info {
    text-align: center;

    > img {
      width: 80%;
      margin-left: -30px;
      margin-top: 30px;
      &.first{
        transition:opacity 1s ease-in;
        -webkit-transition:opacity 1s ease-in;
      }
      &.second{
        transition:opacity 1s ease-in 1.8s;
        -webkit-transition:opacity 1s ease-in 1.8s;
      }
      &.third{
        transition:opacity 1s ease-in 4s;
        -webkit-transition:opacity 1s ease-in 4s;
      }
      &.hide {
        opacity: 0;
      }
      &.show{
        opacity: 1;
      }
    }
  }
}

.white-button{
  //color: #65c4f9;
  background-color: #ffffff;
  .button{
    width: calc(50%);
    display: inline-block;
    &:first-of-type{
      width: calc(50% - 1px);
      border-right:1px solid #EFEFEF;
    }
  }
}
