@import "../../style/variable";

.problem-list {
  height: ~"calc(100% - 49px)";
  padding-top: 30px;
  background: url("https://www.iqycamp.com/images/fragment/rise_welcome_bg.png") no-repeat;
  background-size:100% 100%;
  .info {
    text-align: center;

    > img {
      width: 80%;
      margin-bottom: 30px;
      &.first{
        transition:opacity 1s ease-in;
        -webkit-transition:opacity 1s ease-in;
      }
      &.second{
        transition:opacity 1s ease-in 2s;
        -webkit-transition:opacity 1s ease-in 2s;
      }
      &.third{
        transition:opacity 1s ease-in 4s;
        -webkit-transition:opacity 1s ease-in 4s;
      }
      &.hide {
        opacity: 0;
      }
      &.show{
        opacity: 1;
      }
    }
  }
}

.white-button{
  color: #65c4f9;
  background-color: #ffffff;
}
