@import "../../style/variable";

.problem-introduction {
  background-color: #F5F5F5;

  .header-img {
    position: relative;
    height: 175px;
    background-color: #CCEAEB;
    img {
      display: block;
    }
    overflow: hidden;
    > .back-img {
      position: absolute;
      width: 145px;
      height: 145px;
      left: ~"calc(50% - 72.5px)";
      background-size: 100% 100% !important;

      &.catalog1 {
        background: url("@{imgPathFragment}/back_img_green_1.png?imageslim");
      }
      &.catalog2 {
        background: url("@{imgPathFragment}/back_img_yellow_1.png?imageslim");
      }
      &.catalog3 {
        background: url("@{imgPathFragment}/back_img_orange_1.png?imageslim");
      }
      &.catalog4 {
        background: url("@{imgPathFragment}/back_img_blue_1.png?imageslim");
      }
      &.catalog5 {
        background: url("@{imgPathFragment}/back_img_purple_1.png?imageslim");
      }
    }
    > .problem-collect {
      width: 50px;
      height: 45px;
      position: absolute;
      z-index: 20;
      right: 10px;
      bottom: 10px;
      background: url("@{imgPathFragment}/problem_uncollect.png?imageslim") no-repeat center 10%;
      &.collected {
        background: url("@{imgPathFragment}/problem_collected.png?imageslim") no-repeat center 10%;
      }
      background-size: 22px 22px !important;
      > span {
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        bottom: 0;
        color: #fff;
      }
    }
    > .section-title {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: @font_title;
      color: #fff;
      line-height: @font_title;
      margin-top: 15%;
    }
    > .complete-person {
      position: absolute;
      height: 20px;
      z-index: 1;
      width: 100%;
      text-align: center;
      margin: ~"calc(15% + 30px)" auto 0;
      .icon-person {
        display: inline-block;
        width: 14px;
        height: 20px;
        background: url("https://static.iqycamp.com/images/fragment/electornic-person-icon.png?imageslim");
        background-size: 14px 20px;
      }
      .completed-person-count {
        vertical-align: top;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        color: #fff;
        font-size: 1.1em;
      }
    }
    > .section {
      position: absolute;
      bottom: 0;
      left: 15px;
      font-size: @font_help;
      line-height: @font_help;
      margin-bottom: 10px;
    }
  }

  > .mask {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .pi-header {
    height: auto;
    position: relative;
    background-color: #CCEAEB;
    overflow: hidden;
    .pi-h-body {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      .left {
        padding-left: 25px;
      }
      .pi-h-b-icon {
        line-height: 0;
        padding-top: 10px;
        padding-left: 5px;
      }
      .pi-h-b-title {
        width: 50%;
        font-size: @font_title;
        color: @color_context;
      }
      .pi-h-b-content {
        width: 50%;
        font-size: @font_help;
        line-height: @font_click;
        color: @color_help;
        &.bottom {
          padding-bottom: 33px;
        }
      }
    }
  }

  .relation-tab {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    background-color: #F5F5F5;
    > div {
      display: inline-block;
      float: left;
      height: 49px;
      width: 50%;
      color: #999999;
      text-align: center;
      line-height: 50px;
      font-size: 1.5em;

      &.selected {
        border-bottom: 1px solid #55cbcb;
        color: #55cbcb;
      }
    }
  }

  .pi-content {
    background-color: #DFEBF4;
    padding: 25px;
    .white-content {
      background-color: #FFFFFF;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 0 10px 20px;
      &.mg-25 {
        margin-top: 25px;
      }
    }

    .pi-c-foreword {
      .pi-c-f-header {
        position: relative;
        height: 40px;
        line-height: 40px;
        .pi-c-f-icon {
          display: inline-block;
          line-height: 0;
          width: 44px;
          height: 44px;
          background-color: #FFFFFF;
          text-align: center;
          border-radius: 44px;
          box-shadow: 0 0 8px @color_weak_background;
          margin: -7px -22px 0;
          img {
            margin-top: 7px;
          }
        }
        .pi-c-f-h-title {
          position: absolute;
          top: 0;
          left: 30px;
          font-size: @font_click;
          color: @color_title;
        }
      }
      .pi-c-f-content {
        color: @color_title;
        .context-audio {
          margin: 0;
          audio {
            margin-top: -15px;
          }
          .audio {
            margin: 0;
          }
        }
        padding: 0 10px;
        .pi-c-f-c-text {
          line-height: 26px;
          font-size: 1.5em;
          padding: 15px 0 0;
        }
      }
    }
    .pi-c-system {
      .pi-c-s-content {
        padding: 0 10px;
        .pi-c-s-text {
          color: @color_title;
          font-size: 1.5em;
          line-height: 26px;
        }
      }
    }
    .pi-c-learn {
      .pi-c-l-content {
        .pi-c-text {
          padding: 0 10px;
        }
        .roadmap {
          .chapter-item {
            &:last-of-type {
              margin-bottom: 0;
            }
            padding: 0 0 10px 0;
            margin: 10px 0;
            -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.02);
            -moz-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.02);
            box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.02);
            .chapter {
              font-size: @font_context;
              line-height: 16px;
              color: @color_context;
              padding: 15px 0;
              &:before {
                content: '';
                //background: url('https://static.iqycamp.com/images/fragment/chapter.png?imageslim') no-repeat center center/ 1.1em 1.0em;
                vertical-align: top;
                display: inline-block;
                width: 10px;
                height: 10px;
                margin: 3px 10px 0 5px;
                -webkit-border-radius: 1em;
                -moz-border-radius: 1em;
                border-radius: 1em;
                background-color: @color_strong;
              }
            }
            .section {
              font-size: 1.5em;
              color: @color_title;
              padding-left: 24px;
              //&:before {
              //  content: '';
              //  display: inline-block;
              //  vertical-align: top;
              //  width: 4px;
              //  height: 1.0em;
              //  background-color: @color_strong;
              //  margin-right: 5px;
              //  border-radius: @border-radius;
              //  margin-top: 4px;
              //}
            }
          }
        }
      }
    }
    .pi-c-man {
      overflow: hidden;
      .pi-c-m-content {
        .who-item {
          margin: 25px 0 20px;
          -webkit-border-radius: 26px;
          -moz-border-radius: 26px;
          border-radius: 26px;
          line-height: 40px;
          height: 40px;
          -webkit-box-shadow: 0 0 24px 25px rgba(0, 0, 0, 0.02);
          -moz-box-shadow: 0 0 24px 25px rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 24px 25px rgba(0, 0, 0, 0.02);
          &:last-of-type {
            margin-bottom: 5px;
          }
          &:first-of-type {
            margin-top: 0;
          }
          .wi-sequence {
            color: @color_strong;
            font-size: 2.4em;
            display: inline-block;
            margin-left: 15px;
            vertical-align: top;
            margin-top: -1px;
          }
          .wi-text {
            display: inline-block;
            margin-left: 10px;
            width: ~'calc(100% - 50px)';
            font-size: 1.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -ms-word-break: break-all;
            word-break: break-all;
            &.just-one {
              width: ~'calc(100% - 10px)';
              margin-left: 20px;
            }
          }
        }
      }
    }
    .pi-c-ability {
      .pi-c-a-content {
        .text {
          //border: 1px solid red;
          //background-color: green;
          font-size: 1.5em;
          padding: 0 10px;
          color: @color_title;
        }
        .pi-c-a-c-module {
          -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .02);
          -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .02);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, .02);
          -webkit-border-radius: 55px;
          -moz-border-radius: 55px;
          border-radius: 55px;;
          text-align: center;
          width: 55px;
          height: 55px;
          margin: 5px auto;
          position: relative;
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
          .pi-c-a-c-m-rise {
            padding-top: 7px;
            font-size: @font_index;
            color: @color_strong;
          }
          .pi-c-a-c-m-text {
            //position: absolute;
            //top:0;
            //left:0;
            width: 100px;
            -webkit-transform: translateX(-23%);
            -moz-transform: translateX(-23%);
            -ms-transform: translateX(-23%);
            -o-transform: translateX(-23%);
            transform: translateX(-23%);
            font-size: @font_click;
            color: @color_title;
          }
        }
      }
    }

    .pi-c-author {
      padding-bottom: 10px;
    }
    .pi-c-pay-info {
      padding-bottom: 10px;
      .pi-c-pay-content {
        padding: 0 10px;
        .pre-pay-message {
          color: #666;
          font-size: 1.5em;
          line-height: 26px;
        }
      }
    }
    .pi-c-learn-term {
      .pi-c-l-t-text {
        position: relative;
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 8.5px 0 12px 25px;
        color: @color_title;

        &.special {
          padding-top: 0;
          &:before {
            top: 6px;
          }
        }
        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 15px;
          left: 5px;
          width: 7px;
          height: 7px;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
          background-color: @color_strong;

        }
        &:first-of-type {
          padding-top: 0;
        }
      }
    }
    .pi-c-tool {
      text-align: center;
      .pi-c-t-text {
        font-size: 1.5em;
        color: @color_title;
      }
      .pi-c-t-content {
        .pi-c-t-item {
          padding: 15px 0 20px;
          position: relative;
          -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .02);
          -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .02);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, .02);
          margin: 17px 30px;
          .platform {
            font-size: 1.5em;
            color: @color_context;
          }
          .sub-title {
            font-size: 1.5em;
            color: @color_title;
            &.left {
              -webkit-transform: translateX(-1em);
              -moz-transform: translateX(-1em);
              -ms-transform: translateX(-1em);
              -o-transform: translateX(-1em);
              transform: translateX(-1em);
            }
          }
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }
    .pi-c-text {
      color: @color_title;
      font-size: 1.5em;
      line-height: 26px;
    }
  }

  .problem-relation {
    min-height: 132px;
    margin: 20px auto;
    .problem-item-box {
      width: 100%;
      background-color: #FFF;
      border-radius: 5px;
      padding-bottom: 1px;
      .split {
        height: 1px;
        width: 100%;
        background-color: #F5F5F5;
      }
      .relation-problem-item {
        width: ~"calc(100% - 30px)";
        border-bottom: 1px solid #F5F5F5;
        height: 115px;
        padding: 0 15px;
        position: relative;
        &.last {
          border-bottom: none;
        }
        .problem-img {
          position: relative;
          margin-top: 15px;
          width: 138px;
          height: 85px;
          display: inline-block;
          overflow: hidden;
          .problem-item-backcolor {
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: 100% 100% !important;
            border-radius: 5px;
            &.catalog1 {
              background: -webkit-gradient(linear, 0 top, 0 bottom, from(#71d2aa), to(#4aa680)) !important;
            }
            &.catalog2 {
              background: -webkit-gradient(linear, 0 top, 0 bottom, from(#e8cb5e), to(#ea9f00)) !important;
            }
            &.catalog3 {
              background: -webkit-gradient(linear, 0 top, 0 bottom, from(#e7a674), to(#e96a06)) !important;
            }
            &.catalog4 {
              background: -webkit-gradient(linear, 0 top, 0 bottom, from(#6bd2ea), to(#05789c)) !important;
            }
            &.catalog5 {
              background: -webkit-gradient(linear, 0 top, 0 bottom, from(#a0b5eb), to(#376cd5)) !important;
            }
          }
          .problem-item-backimg {
            width: 60px;
            height: 60px;
            left: ~"calc(50% - 30px)";
            top: ~"calc(50% - 30px)";
            position: absolute;
            background-size: 100% 100% !important;
            &.catalog1 {
              background: url("https://static.iqycamp.com/images/fragment/back_img_green_1.png?imageslim");
            }
            &.catalog2 {
              background: url("https://static.iqycamp.com/images/fragment/back_img_yellow_1.png?imageslim");
            }
            &.catalog3 {
              background: url("https://static.iqycamp.com/images/fragment/back_img_orange_1.png?imageslim");
            }
            &.catalog4 {
              background: url("https://static.iqycamp.com/images/fragment/back_img_blue_1.png?imageslim");
            }
            &.catalog5 {
              background: url("https://static.iqycamp.com/images/fragment/back_img_purple_1.png?imageslim");
            }
          }
          .problem-item-subCatalog {
            width: 100%;
            color: #fff;
            position: absolute;
            text-align: center;
            font-size: @font_title;
            line-height: @font_title;
            margin-top: 18%;
            opacity: 0.8;
          }
          .complete-person {
            position: absolute;
            height: 20px;
            right: 10px;
            bottom: 0;
            z-index: 1;
            .icon-person {
              display: inline-block;
              width: 14px;
              height: 20px;
              background: url("https://static.iqycamp.com/images/fragment/electornic-person-icon.png?imageslim");
              background-size: 14px 20px;
            }
            .completed-person-count {
              vertical-align: top;
              display: inline-block;
              height: 20px;
              line-height: 20px;
              color: #fff;
              font-size: 1.1em;
            }
          }
          img {
            display: block;
            border-radius: 3px;
            margin-left: -35px;
          }
        }
        .problem-problem {
          width: ~"calc(100% - 175px)";
          position: absolute;
          display: inline-block;
          top: 15px;
          margin-left: 10px;
          color: #333;
          font-size: 1.5em;
          line-height: 20px;
        }
        .problem-catalog {
          width: ~"calc(100% - 175px)";
          position: absolute;
          display: inline-block;
          top: 66px;
          margin-left: 10px;
          color: #666;
          font-size: 1.1em;
          line-height: 11px;
        }
      }
    }
  }

  .button-footer {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.04);
    display: block;
    position: fixed;
    font-size: @font_title;
    bottom: 0;
    width: 100%;
    height: @button_footer_height;
    text-align: center;
    line-height: @button_footer_height;
    background-size: 100% 100%;
    background-image: url('https://static.iqycamp.com/images/bottom_button_bg3.png?imageslim');
    color: #fff;
    z-index: 10;
    &.trial_pay {
      background-image: url('https://static.iqycamp.com/images/bottom_button_bg3_trial.jpg?imageslim');
    }
    > .left {
      display: inline-block;
      width: 100%;
      border-right: 1px solid white;
      background: #F57F16;
      color: #FFF;
      height: 50px;
      &.disabled {
        background: #cccccc;
      }
      &.pay {
        float: left;
      }
      img {
        margin-right: 12px;
        position: relative;
        top: 4px;
      }
    }
    > .right {
      display: inline-block;
      width: 0;
      background: #F57F16;
      color: #FFF;
      height: 50px;
      &.disabled {
        background: #cccccc;
      }
      img {
        margin-right: 12px;
        position: relative;
        top: 4px;
      }
    }
    &.disabled {
      background: #cccccc;
    }

    .operation-coupon {
      position: absolute;
      display: inline-block;
      top: -37px;
      left: ~"calc(50% - 60px)";
      img {
        width: 120px;
      }
    }

    .together-class-notice {
      font-size: 12px;
      line-height: 25px;
      padding: 7px 0 10px;
      position: absolute;
      left: 0;
      bottom: 50px;
      margin: 0 auto;
      background-image: url('https://static.iqycamp.com/images/together-class-notice_1.png?imageslim');
      background-size: 100% 100%;
    }

    .split-left {
      width: 48%;
      float: left;
      background-color: #FFF;
      color: #F57F16;
    }

    .split-right {
      width: 52%;
      float: left;
      background-color: #F57F16;
      color: #FFF;
    }
  }

}

.page-item-header {
  text-align: center;
  .pih-icon-container {
    padding: 20px 0;
    .pih-icon {
      display: inline-block;
      line-height: 0;
      vertical-align: text-bottom;
    }
    .pih-title {
      margin-left: 10px;
      display: inline-block;
      line-height: 20px;
      color: @color_context;
      font-size: 2em;
    }
  }
}

.error-mask {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  > .tips {
    margin-top: 50px;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
  }
  > .xiaoQ {
    display: block;
    margin: 25px auto 0;
    width: 70%;
  }
}

.simple-pay-info {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  .close {
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
  }

  > .main-container {
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    overflow: hidden;
    > .header {
      text-align: center;
      border-bottom: 1px solid #d0d0d0;
      color: #333;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
    }
    > .content {
      font-size: 16px;
      > .item {
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        border-bottom: 1px solid #d0d0d0;
      }
      .final {
        color: #28c7e1;
        font-size: 20px;
      }
      .discard {
        text-decoration: line-through;
        color: #999999;
      }
      > .coupon {
        &:after {
          content: ' ';
          display: inline-block;
          background: url("https://static.iqycamp.com/images/mobilePersonalEnter.png?imageslim") no-repeat right center/  6px 11.5px;
          width: 6px;
          height: 11.5px;
          float: right;
          margin-top: 21.75px;
          margin-left: 4px;
        }
      }
    }
    > ul {
      opacity: 1;
      margin: 0 15px;
      list-style: none;
      &.open {
        opacity: 1;
      }
      height: 222px;
    }
    > .coupon-list {
      position: relative;
      z-index: 300;
      overflow: scroll;

      > li {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #d0d0d0;
        > .expired {
          font-size: 12px;
          color: #999;
          margin-left: 10px;
        }
        > .describe {
          font-size: 12px;
          //color:#999;
          margin-left: 5px;
        }
        > .btn {
          width: 50px;
          height: 25px;
          font-size: 13px;
          margin-top: 12px;
          line-height: 25px;
          background-color: #66ccff;
          text-align: center;
          border-radius: 5px;
          float: right;
          color: #fff;
        }
      }
    }
  }
  > .btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    background-color: #fff;
    > .btn {
      height: 42px;
      background: url('https://static.iqycamp.com/images/sureToPayBtnV2.png?imageslim') center center/100% 100%;
      //border:1px solid;
      //border-image:-webkit-linear-gradient(315deg, orange, green) 5 5;
      //border-image:linear-gradient(315deg,orange,green) 5 5;
      margin: 15px;
      //padding:5px;
      //text-align: center;
      > svg {
        > text {
          text-anchor: middle; /* 文本水平居中 */
          dominant-baseline: middle; /* 文本垂直居中 */
        }
      }
    }
  }
  .toast-text {
    color: @color_white;
    font-size: @font_context;
  }
}
