
.welcome-container {
  background-image: url("https://static.iqycamp.com/images/fragment/free_limit_welcome_1.jpg?imageslim");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;

  .welcome-page {

    .welcome-botton {
      width: 100%;
      height: 40px;
      position: fixed;
      bottom: 20px;

      .button-left {
        margin-left: 15%;
      }
      .button-right {
        margin-left: 10%;
        margin-right: 15%;
      }

      div {
        width: ~"calc(30% - 2px)";
        height: 38px;
        display: inline-block;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        color: #55CBCB;
        border: 1px solid #55CBCB;
        border-radius: 5px;
        box-shadow: 1px -1px 0 #55CBCB;
        -webkit-box-shadow: 1px -1px 0 #55CBCB;
        -moz-box-shadow: 1px -1px 0 #55CBCB;
        -o-box-shadow: 1px -1px 0 #55CBCB;
      }
    }

  }

}
