
.welcome-container {
  background-image: url("https://static.iqycamp.com/images/fragment/free_limit_welcome_2.jpg?imageslim");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;

  .welcome-page {

    .welcome-bottom {
      width: 100%;
      height: 60px;
      position: fixed;
      bottom: 40px;

      .button-left {
        margin-left: 10%;
        float: left;
      }
      .button-right {
        margin-left: 10%;
        margin-right: 10%;
        float: right;
      }
      .button {
        width: ~"calc(35% - 2px)";
        height: 38px;
        font-size: 19px;
        line-height: 38px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        background-color: #55CBCB;
      }
    }
    .bottom-rise-tip {
      width: 100%;
      text-align: center;
      position: fixed;
      bottom: 20px;
      img {
        width: 28px;
        height: 22px;
        display: inline-block;
      }
      span {
        color: #55CBCB;
        margin-left: 5px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: underline;
        vertical-align: super;
        display: inline-block;
      }
    }
  }

}
