@import "../../style/variable";

.problem-list {
  min-height: 100%;
  background: url("http://www.iqycamp.com/images/fragment/rise_welcome_bg_3.png");
  background-size:100% 100%;
  .tips {
    position: relative;
    bottom: 50px;
    left: 10px;
    font-size: 13px;
    color: #efefef;
  }

  .little-bg {
    position: relative;
    left: 55%;
    margin-top: 30px;
  }
  .info {

    .button-div{
      text-align: center;
    }
    .right-div{
      float: right;
    }
    img {
      margin-top: 30px;
      &.first{
        width: 80%;
        margin-left: 10px;
        transition:opacity 1s ease-in;
        -webkit-transition:opacity 1s ease-in;
      }
      &.second{
        width: 80%;
        margin-left: 10px;
        transition:opacity 1s ease-in 1s;
        -webkit-transition:opacity 1s ease-in 1s;
      }
      &.third{
        margin-right: 10px;
        width: 71px;
        height: 46px;
        transition:opacity 1s ease-in;
        -webkit-transition:opacity 1s ease-in;
      }
      &.head{
        margin-right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        transition:opacity 1s ease-in;
        -webkit-transition:opacity 1s ease-in;
      }
      &.fourth{
        width: 80%;
        margin-left: 10px;
        transition:opacity 1s ease-in 1s;
        -webkit-transition:opacity 1s ease-in 1s;
      }
      &.button1{
        width: 176px;
        margin-top: 70px;
        transition:opacity 1s ease-in 2s;
        -webkit-transition:opacity 1s ease-in 2s;
      }
      &.button2{
        width: 176px;
        margin-top: 50px;
        transition:opacity 1s ease-in 2s;
        -webkit-transition:opacity 1s ease-in 2s;
      }
      &.button3{
        width: 176px;
        margin-top: 25px;
        transition:opacity 1s ease-in 2s;
        -webkit-transition:opacity 1s ease-in 2s;
      }
      &.hide {
        opacity: 0;
      }
      &.show{
        opacity: 1;
      }
    }
  }
}

.white-button{
  //color: #65c4f9;
  background-color: #ffffff;
  .button{
    width: calc(50%);
    display: inline-block;
    &:first-of-type{
      width: calc(50% - 1px);
      border-right:1px solid #EFEFEF;
    }
  }
}
