@import "../../../style/variable";

.problem-page {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  .problem-intro{
    > .page-header{
      position: fixed;
      margin-left: -15px;
      background: #fff;
      z-index: 100;
    }
    > .page-content{
      padding-top: 47px;
      > .context{
        > .problem-length{
          font-size: @font_context;
          color: @color_strong;
        }
      }
      > .text{
        font-size: @font_context;
        color: @color_context;
        > .time-tip-content{
          display: inline-block;
        }
        > .time-tip{
          display: inline-block;
        }
      }

    }
  }
}
