.month-schedule-component {
  position: relative;
  box-sizing: border-box;
  padding: 2.5rem 1.75rem 1px;
  background: linear-gradient(to bottom, #96b5e3, #b8c9e0);
  border-radius: 5px;
  margin-top: 50px;
  &:first-of-type {
    margin-top: 0;
  }
  .schedule-topic {
    display: block;
    box-sizing: border-box;
    padding: 0 0 1rem;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: #041931;
  }
  .month-problem-desc {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    left: 50%;
    text-decoration: underline;
    transform: translateX(-50%);
    padding-left: 1.4rem;
    &::before {
      display: block;
      position: absolute;
      left: 0;
      content: ' ';
      background-image: url("https://static.iqycamp.com/images/course_schedule_desc_2.png?imageslim");
      width: 10px;
      height: 12px;
      background-size: 10px 12px;
    }
  }
  .split-line {
    display: block;
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #82a4cf;
    margin-top: 1.5rem;
  }
  .type {
    display: block;
    margin: 1.5rem 0;
    color: #041931;
    font-size: 12px;
    line-height: 12px;
  }
  .problem {
    display: block;
    position: relative;
    box-sizing: content-box;
    padding: 20px 12px 20px 45px;
    border-radius: 5px;
    background-color: #fff;
    color: #041931;
    font-size: 15px;
    line-height: 15px;
  }
  .schedule-major {
    .problem {
      &::before {
        display: inline-block;
        position: absolute;
        content: ' ';
        width: 5px;
        height: 5px;
        border: 7px solid #041931;
        left: 12px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
      &.draggable {
        padding: 20px 45px 20px 12px;
        &::before {
          display: none;
        }
      }
    }
  }
  .schedule-minor {
    .problem {
      margin: 2rem auto;
      &.selected {
        &:before {
          display: inline-block;
          position: absolute;
          content: ' ';
          left: 12px;
          border-radius: 3px;
          top: 50%;
          transform: translateY(-50%);
          background-image: url("https://static.iqycamp.com/images/course_schedule_selected.png?imageslim");
          background-size: 19px 19px;
          width: 19px;
          height: 19px;
        }
      }
      &.no-selected {
        color: #888;
        &:before {
          display: inline-block;
          position: absolute;
          content: ' ';
          width: 17px;
          height: 17px;
          border: 1px solid #999;
          left: 12px;
          border-radius: 3px;
          color: #999;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &.draggable {
        padding: 20px 45px 20px 12px;
        color: #041931;
        &::before {
          display: none;
        }
      }
      &.adjustable {
        background-color: #041931;
        color: #fff;
      }
      .problem-recommed-tag {
        display: block;
        position: absolute;
        width: 2.3rem;
        right: -5px;
        top: -5px;
      }
    }
    .draggable-item {
      position: absolute;
      display: inline-block;
      right: 1.5rem;
      width: 1.9rem;
      height: 2.5rem;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("https://static.iqycamp.com/images/course_schedule_drag.png?imageslim");
      background-size: 1.9rem 2.5rem;
    }
  }
  ul > li {
    list-style-type: none;
  }
}

.drag {
  > div {
    box-shadow: 0 0 8px #041931 !important;
  }
}
