.month-schedule-component {
  display: block;
  position: relative;
  margin-top: 2rem;
  .schedule-topic {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 1rem 2rem;
    line-height: 16px;
    font-size: 16px;
    color: #333333;
  }
  .problem {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0 2rem 0 5rem;
    background-color: #FFFFFF;
    z-index: 1;
    &:first-of-type .problem-name {
      border-top: none;
    }
    &::before {
      display: inline-block;
      position: absolute;
      content: ' ';
      width: 2.2rem;
      height: 2.2rem;
      background-image: url("https://static.iqycamp.com/images/problem-major.png?imageslim");
      background-size: 2.2rem 2.2rem;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &.selected {
      &::before {
        background-image: url("https://static.iqycamp.com/images/problem-minor-selected.png?imageslim");
      }
    }
    &.no-selected {
      &::before {
        background-image: url("https://static.iqycamp.com/images/problem-minor-unselected.png?imageslim");
      }
    }
    &.dis-ajustable {
      &::before {
        //background-image: url("https://static.iqycamp.com/images/problem-major.png?imageslim");
      }
    }
    &.hide {
      padding: 0 2rem 0 2rem;
      &::before {
        display: none;
      }
    }
    .problem-name {
      display: block;
      padding: 13px 40px 13px 0;
      font-size: 14px;
      line-height: 14px;
      border-top: 1px solid #ccc;
      margin-right: -2rem;
    }
    .month-problem-desc {
      display: inline-block;
      position: absolute;
      width: 4rem;
      height: 4rem;
      background-image: url("https://static.iqycamp.com/images/problem-intro-tips.png?imageslim");
      background-size: 2.2rem 2.2rem;
      background-position: center;
      background-repeat: no-repeat;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      &.draggable {
        background-image: url("https://static.iqycamp.com/images/problem-draggable.png?imageslim");
        background-size: 2.2rem 0.9rem;
      }
      &.lock {
        display: none;
        background-image: none;
      }
    }
  }
  .schedule-major {
    display: block;
    position: relative;
  }
  .schedule-minor {
    display: block;
    position: relative;
  }
  .schedule-box {
    min-height: 3rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .drag {
    box-shadow: 0 0 8px #041931 !important;
  }

  span {
    user-select: none;
  }
}


