@import "../../../style/variable";

.chosen{
  margin-top:15px;
  font-size: @font_context;
  color: @color_context;
  padding-left: 20px;
}

.not-chosen{
  margin-top:15px;
  font-size: 1.5em;
  color: @color_weak;
  padding-left: 20px;
}
