
.annual-share-tip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  > .tip-pic {
    position: absolute;
    top: 0;
    right: 0;
  }
}
