.discuss-district-component {
  display: block;
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: #FFF;
  .primary-block {
    position: relative;

    .headimg {
      display: inline-block;
      width: 3.4rem;
      height: 3.4rem;
      border-radius: 50%;
    }

    .nickname {
      left: 4.5rem;
      display: inline-block;
      font-size: 1.4rem;
      color: #666666;
      text-align: left;
    }

    .comment {
      left: 4.5rem;
      display: inline-block;
      width: 27rem;
      font-size: 15px;
      color: #333333;
    }

    .publish {

    }

    .vote {

    }
  }
}
