@import "../../style/variable";

.ft-button-wrapper {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, .04);
  .submit-btn {
    height: 3.9rem;
    bottom: .5rem;
    position: absolute;
    width: ~"calc(100% - 3rem)";
    left: 1.5rem;
    background: #ffB200;
    font-size: 1.9rem;
    color: #fff;
    line-height: 3.9rem;
    border-radius: 2px;
    font-weight: bold;
  }
  &.two-buttons {
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    font-weight: bold;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    .button {
      width: 17rem;
      height: 3.9rem;
      line-height: 3.9rem;
      font-size: 1.9rem;
      color: #fff;
      &:first-of-type {
        background: #FDD338;
        margin-right: 0.5rem;
      }
      background: #ffB200;
    }
  }
}
