@import "../../style/variable";

.ft-button-wrapper {
  background: #FFFFFF;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, .04);
  .submit-btn {
    height: 49px;
    position: absolute;
    width: 100%;
    left: 0;
    background: rgb(251, 228, 82);
    font-size: 20px;
    color: #333;
    line-height: 49px;
    overflow: hidden;
  }
  &.two-buttons {
    display: flex;
    flex-direction: row;
    .button {
      flex: 1;
      color: #041931;
      font-size: 1.5rem;
      &:first-of-type {
        background: #fdd338;
      }
      background: #ffe51d;
    }
  }
}
