@import "../../style/variable";

.submitbutton-component {
  background: #FFFFFF;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, .04);
  .submit-btn {
    height: 40px;
    margin: 0 6%;
    position: absolute;
    width: 88%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgb(251, 228, 82);
    border-radius: 20px;
    font-size: 20px;
    color: #333;
    line-height: 40px;
    overflow: hidden;
  }
}
