@import "../../variable.less";

// HeadAreaProps
.head-area {
  width: 100%;
  height: 25px;
  background-color: @color_white;
  padding: 2px 5px;
  position: fixed;
  border-bottom: 1px solid @color_weak;
  z-index: 10;

  .head-content {
    height: 100%;
    display: inline-block;
    font-size: @font_context;
    line-height: @font_context;
  }
  .head-btn {
    display: inline-block;
    font-size: @font_index;
    line-height: @font_index;
    color: #FFF;
    background-color: #169bd5;
    position: absolute;
    right: 15px;
    top: 5px;
    padding: 3px 13px;
    border-radius: 3px;
  }

}
