.count-down {
  height: 100vh;
  position: relative;
  background: url('https://static.iqycamp.com/images/bg_diwen.png?imageslim') repeat-y center top/100% auto;
  .header {
    text-align: center;
    padding-top: 7rem;
    .msg {
      background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#feff1c), to(#F49B31));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.4rem;
      display: inline-block;
      position: relative;
      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        left: -6px;
        transform: translateX(-100%);
        width: 4.4rem;
        height: 1px;
        background-color: rgb(242, 200, 81);
      }
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: -5px;
        transform: translateX(100%);
        width: 4.4rem;
        height: 1px;
        background-color: rgb(242, 200, 81);
      }
    }
  }
  .remainder {
    position: relative;
    .day {
      //display: inline-block;
      position: absolute;
      top: 5rem;
      left: 50%;
      transform: translateX(-50%);
      .place {
        height: 10.1rem;
        text-align: center;
        line-height: 10.1rem;
        width: 6rem;
        font-size: 8rem;
        display: inline-block;
        color: #041931;
        background: url('../../../assets/img/number_card.png') no-repeat center center/100% 100%;
      }
      .ones-place {
        margin-left: 1rem;;
        position: relative;
        &:after {
          content: '天';
          display: block;
          position: absolute;
          bottom: 0;
          right: -1.5rem;
          font-size: 1.5rem;
          line-height: 1.5rem;
          color: #FFFFFF;
          transform: translateX(100%);
        }
      }
    }
  }
  .footer {
    padding-top: 26rem;
    text-align: center;
    font-size: 1.5rem;
    color: #FFFFFF;
  }
  .guide-tips {
    padding-top: 2rem;
    text-align: center;
    > div {
      position: relative;
      &:before {
        color: #FFFFFF;
        display: block;
        content: attr(data-step);
        position: absolute;
        width: 70%;
        text-align: center;
        height: 1.5rem;
        font-size: 1.5rem;
        top: 0;
        right: 0;
      }
      &.left {
        height: 13rem;
        &:before {
          left: 0;
          top: -1rem;
        }
      }
      &.right:before {
        top: -1.8rem;
      }
      height: 12.3rem;
      display: inline-block;
      padding: 1rem;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}
