@import "../../style/variable";

.schedule-choice {
  color: #333;

  .eva-container {
    overflow: auto;
    padding: 0 5rem;
    &.small-pd {
      padding: 0 3rem;
    }
    .eva-progress {
      height: 4px;
      background: rgb(243, 243, 243);
      .eva-progress-bar {
        background: #FFB200;
        background: -webkit-gradient(linear, left center, right center, from(#FBD933), to(#FFB200));
        height: 4px;
        border-radius: 4px;

        transition: width 0.5s;
      }
    }
    .eva-page-header {
      width: 100%;
      text-align: center;
      padding-top: 2.5rem;
      line-height: 2.4rem;
      height: 2.4rem;
      font-size: 2.4rem;
      color: #041931;
    }
    .rate {
      font-size: @font_title;
      color: #f4ad00;
      text-align: right;
    }
  }

  .eva-button-footer {
    font-size: @font_title;
    text-align: center;
    margin-top: 30px;
  }

  .choice-intro-container {
    > .intro-index {
      position: relative;
      box-sizing: border-box;
      margin: 20px 0;
      display: block;
      height: 12px;
      line-height: 12px;

      > .index {
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        color: #999;
      }

      > .tip {
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        color: #999;
        margin-left: 10px;
      }

      > .type {
        margin-left: 14px;
        color: @color_strong;
        font-size: 15px;
        float: right;
        > .number {
          font-size: 24px;
        }
      }
    }

    > .question {
      width: 100%;
      padding-top: 7rem;
      margin-bottom: 2rem;
      white-space: normal;
      word-break: break-all;
      font-size: 15px;
      color: #333333;
    }

    > .choice-list {
      box-sizing: border-box;
      border-top: 1px #f5f5f5 solid;
      border-bottom: 1px #f5f5f5 solid;
      .choice {
        &.radio {
          .index {
            border-radius: 18px;
            &.selected:before {
              border-radius: 10px;
            }
          }
        }
        position: relative;
        box-sizing: border-box;
        padding: 20px 0;
        border-bottom: 1px #f5f5f5 solid;
        &:last-child {
          border-bottom: none;
        }
        .index {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          font-size: 0;
          width: 18px;
          height: 18px;
          border-radius: 3px;
          border: 1px solid #CCCCCC;
          &:before {
            box-sizing: border-box;
            content: ' ';
            display: block;
            width: 10px;
            height: 10px;
            margin: 3px auto;
          }
          &.selected {
            &:before {
              background-color: #999;
              border-radius: 1px;
            }
          }
        }
        .text {
          position: relative;
          display: inline-block;
          font-size: 15px;
          line-height: 22.5px;
          vertical-align: top;
          left: 20px;
          width: ~"calc(100% - 38px)";
          color: #333;
          &.selected {
            color: @color_strong;
          }
          &.right {
            color: @color_strong;
          }
        }
      }
    }
  }

  .intro-container {
    > .intro-index {
      margin: 5px 0 10px 0;
      display: block;
      min-height: 1.5rem;
      color: #06E6E8;
      .prev {
        color: rgb(244, 173, 0);
        font-size: 1.5rem;
      }

      span {
        display: inline-block;
        height: 32px;
        line-height: 32px;
      }

      > .index {
        font-size: @font_index;
      }

      > .tip {
        font-size: @font_index;
        margin-left: 10px;
      }

      > .type {
        margin-left: 14px;
        font-size: @font_index;
        float: right;
        > .number {
          font-size: 1.7em;
        }
      }
    }
    .question-group {
      animation-duration: 0.7s;
      animation-timing-function: ease-in-out;
    }
    .question {
      width: 100%;
      padding-top: 5.5rem;
      margin-bottom: 3rem;
      white-space: normal;
      word-break: break-all;
      font-size: 1.5rem;
    }

    .choice-list {
      margin-bottom: 10px;
      .special-tips {
        text-align: center;
        display: block;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #666666;
        padding-top: .2rem;
      }
      .choice {
        text-align: center;
        width: 100%;
        display: table;
        height: 44px;
        font-size: @font_context;
        border: 1px solid #666666;
        border-radius: @border-radius;
        //> .index {
        //  display: table-cell;
        //  vertical-align: middle;
        //  width: 25px;
        //  line-height: 44px;
        //  height: 100%;
        //  border-left: 1px solid @color_context;
        //  border-top: 1px solid @color_context;
        //  border-bottom: 1px solid @color_context;
        //  border-top-left-radius: @border-radius;
        //  border-bottom-left-radius: @border-radius;
        //  text-align: center;
        //}
        > .text {
          display: table-cell;
          //width: ~"calc(100% - 30px)";
          width: 100%;
          height: 100%;
          min-height: 50px;
          vertical-align: middle;
        }
        &.selected {
          border-radius: @border-radius;
          color: #FFFFFF;
          background: rgb(45, 67, 98);
          > .text {
            border-left-color: #FFF;
          }
        }
      }
      .choice-wrapper + .choice-wrapper {
        margin-top: 3rem;
      }

    }
  }
}
