@import "../../style/variable";

.schedule-notice {
  text-align: center;
  .header-msg {
    font-size: 2rem;
    color: @color_title;
    padding: 4rem 0 0;
  }

  > .img-wrapper {
    padding: 4rem 5rem;
    > .img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  > .start-btn {
    background-color: #0F769F;
    color: #FFFFFF;
    font-size: 1.4rem;
    line-height: 1.4;
    display: inline-block;
    width: 90px;
    padding: 1rem .5rem;
    border-radius: .5rem;
  }

  > .tips {
    margin-top: 4rem;
    color: @color_help;
    font-size: @font_help;
  }
}
