@import "../../style/variable";
.layout {
  width:100%;
  overflow: hidden;
  .event-wall-tab{
    .navbar{
      font-size:@font_context;
      //margin:0 -15px;
      padding:0 15px;
      border-bottom:1px solid #f5f5f5;
      .navbar-item{
        display: inline-block;
        text-align: center;
        color:@color_title;
        &.active{
          color:@color_strong;
          span{
            border-bottom:2px solid @color_strong;
          }
        }
        span{
          padding:15px 0;
          display: inline-block;
          height:100%;
          width:100%;
        }
      }
    }
  }
  .event-tab-body{
    overflow-y: scroll;
  }
  .padding{
    height: 50px;
  }
  .event-list{
    color:@color_context;
    list-style: none;
    .event-item{
      overflow: hidden;
      padding:15px;
      //height:65px;
      position: relative;
      border-bottom:1px solid @color_weak_background;
      .head-pic{
        display: inline-block;
        width:74px;
        height:65px;
        position: relative;
        overflow: hidden;
        //position: absolute;
        //left:15px;
        //top:50%;
        //-webkit-transform: translateY(-50%);
        //-moz-transform: translateY(-50%);
        //-ms-transform: translateY(-50%);
        //-o-transform: translateY(-50%);
        //transform: translateY(-50%);
        img{
          width:auto;
          height:100%;
          position: absolute;
          top:0;
          right:0;
        }
      }
      .event-info{
        display: inline-block;
        margin-left:15px;
        width: ~'calc(100% - 90px)';
        .title{
          height: 15px;
          line-height:15px;
          font-size:15px;
          -ms-word-break: break-all;
          word-break: break-all;
          color:@color_context;
        }
        .password{
          line-height:12px;
          margin-top:6px;
          height:12px;
          font-size:12px;
          color:@color_title;
        }
        .describe{
          line-height:12px;
          font-size:12px;
          color:@color_title;
        }
        .time{
          line-height:10px;
          margin-top:6px;
          font-size:10px;
          color:@color_help;
        }
      }
    }
  }
}
