@import "../../style/variable";

.improvement-report {
  box-sizing: border-box;
  padding: 0 3rem 6rem;
  background-color: #edf4f7;
  
  > .body-container {
    margin-top: 2rem;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 10rem;
    
    > .body {
      box-sizing: border-box;
      padding: 2.5rem 1.5rem;
      border-radius: 5px;
      background-color: #FFFFFF;
      
      > .header {
        text-align: center;
        color: #333;
        margin-bottom: 10px;
        
        > .title {
          color: #333;
          font-size: 20px;
          line-height: 2rem;
          display: inline-block;
        }
        
        > .question {
          font-weight: 700;
          border: 1px solid #777573;
          display: inline-block;
          margin-left: 10px;
          width: 14px;
          text-align: center;
          line-height: 1.4rem;
          height: 14px;
          border-radius: 10px;
        }
      }
      
      > .complete-item {
        color: @color_title;
        padding: 5px 0;
        > .info {
          > .name {
            display: inline-block;
            font-size: 1.5rem;
            float: left;
            color: #666;
            margin-bottom: 5px;
            .big-point {
              color: @color_strong;
            }
          }
        }
        .score {
          display: inline-block;
          text-align: right;
          margin-left: 5px;
          &.top {
            vertical-align: text-top;
          }
        }
        .number {
          &.point {
            &.major {
              color: #FFB200;
            }
            &.minor {
              color: #399bd3;
            }
          }
          font-size: @font_help;
        }
        .progress {
          position: relative;
          height: 10px;
          display: inline-block;
          > .track {
            background-color: #e6e6e6;
            height: 100%;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
          > .holder {
            height: 100%;
            position: absolute;
            width: 0;
            border-radius: 5px;
            overflow: hidden;
            
            &.major {
              background: #FFB200;
              background: -webkit-gradient(linear, left center, right center, from(#ffd40c), to(#FFB200));
            }
            &.minor {
              background: #399bd3;
              background: -webkit-gradient(linear, left center, right center, from(#78caf9), to(#399bd3));
            }
            
            //&.article {
            //  background: rgb(88, 177, 223);
            //  background: -webkit-gradient(linear, left center, right center, from(rgb(235, 214, 99)), to(rgb(175, 235, 95)));
            //}
            
            .slider {
              position: absolute;
              background: #e6e6e6;
              right: 2.5px;
              top: 2.4px;
              height: 5px;
              width: 5px;
              border-radius: 5px;
            }
          }
        }
      }
      
      > .vote-info {
        font-size: @font_help;
        margin-top: 10px;
        text-align: left;
        color: #777573;
        > .tips {
          color: @color_help;
        }
      }
      
      .recommend-box {
        margin: 8px auto;
        
        .recommend-descrip {
          font-size: 1.5em;
          font-weight: bold;
          color: #666;
        }
        
        .recommend-problem {
          margin: 8px -10px 8px;
          padding: 0 10px;
          height: 93px;
          position: relative;
          box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.04);
          -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.04);
          
          .problem-img {
            position: relative;
            margin-top: 15px;
            width: 100px;
            height: 63px;
            display: inline-block;
            overflow: hidden;
            .problem-item-backcolor {
              width: 100%;
              height: 100%;
              position: absolute;
              background-size: 100% 100% !important;
              &.catalog1 {
                background: -webkit-gradient(linear, 0 top, 0 bottom, from(#71d2aa), to(#4aa680)) !important;
              }
              &.catalog2 {
                background: -webkit-gradient(linear, 0 top, 0 bottom, from(#e8cb5e), to(#ea9f00)) !important;
              }
              &.catalog3 {
                background: -webkit-gradient(linear, 0 top, 0 bottom, from(#e7a674), to(#e96a06)) !important;
              }
              &.catalog4 {
                background: -webkit-gradient(linear, 0 top, 0 bottom, from(#6bd2ea), to(#05789c)) !important;
              }
              &.catalog5 {
                background: -webkit-gradient(linear, 0 top, 0 bottom, from(#a0b5eb), to(#376cd5)) !important;
              }
            }
            .problem-item-backimg {
              width: 60px;
              height: 60px;
              left: ~"calc(50% - 30px)";
              top: ~"calc(50% - 30px)";
              position: absolute;
              background-size: 100% 100% !important;
              &.catalog1 {
                background: url("https://static.iqycamp.com/images/fragment/back_img_green_1.png?imageslim");
              }
              &.catalog2 {
                background: url("https://static.iqycamp.com/images/fragment/back_img_yellow_1.png?imageslim");
              }
              &.catalog3 {
                background: url("https://static.iqycamp.com/images/fragment/back_img_orange_1.png?imageslim");
              }
              &.catalog4 {
                background: url("https://static.iqycamp.com/images/fragment/back_img_blue_1.png?imageslim");
              }
              &.catalog5 {
                background: url("https://static.iqycamp.com/images/fragment/back_img_purple_1.png?imageslim");
              }
            }
            .problem-item-subCatalog {
              width: 100%;
              color: #fff;
              position: absolute;
              text-align: center;
              font-size: @font_title;
              line-height: @font_title;
              margin-top: 18%;
              opacity: 0.8;
            }
            img {
              display: block;
              border-radius: 3px;
              margin-left: -35px;
            }
          }
          
          .problem-problem {
            width: ~"calc(100% - 130px)";
            position: absolute;
            display: inline-block;
            top: 13px;
            margin-left: 10px;
            color: #666;
            font-size: 1.5em;
            line-height: 20px;
          }
          
          .problem-view {
            display: inline-block;
            font-size: 13px;
            width: 67px;
            height: 24px;
            background-color: #55cbcb;
            color: #FFF;
            border-radius: 3px;
            text-align: center;
            line-height: 24px;
            position: absolute;
            bottom: 15px;
            right: 10px;
          }
        }
      }
    }
    
    > .tips {
      box-sizing: border-box;
      padding: 2rem 1.5rem;
      background-color: #eaeaea;
      color: #666;
      font-size: 1.2em;
      line-height: 20px;
      margin-top: 2rem;
    }
    
    .bottom-icon {
      display: inline-block;
      position: absolute;
      right: 0;
      margin-top: 1.5rem;
      width: 6rem;
      height: 6rem;
      
    }
  }
  
  .clear-position {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  .report-header {
    background-color: #edf4f7;
    .report-title {
      font-size: 1.8rem;
      color: #2c2c2c;
      box-sizing: border-box;
      padding: 2.5rem 0;
    }
    .report-global-data {
      position: relative;
      box-sizing: border-box;
      height: 12.5rem;
      padding: 2.5rem 1.5rem;
      background-color: #fff;
      .nickname {
        font-size: 1.5rem;
        line-height: 1.5rem;
        &.major {
          color: #FFB200;
        }
        &.minor {
          color: #399bd3;
        }
      }
      .global-medal {
        position: absolute;
        width: 6.3rem;
        height: 9.3rem;
        background-size: 6.3rem 9.3rem;
        right: 1.5rem;
        top: -0.5rem;
        &.major {
          background-image: url("https://static.iqycamp.com/images/report_medal_major.png?imageslim");
        }
        &.minor {
          background-image: url("https://static.iqycamp.com/images/report_medal_minor.png?imageslim");
        }
      }
      .data-block {
        width: 21rem;
        margin-top: 1.5rem;
        .data {
          display: inline-block;
          width: 7rem;
          position: relative;
          box-sizing: border-box;
          border-right: 1px solid #f5f5f5;
          &:last-of-type {
            border-right: none;
          }
          .type-str {
            font-size: 1.2rem;
            line-height: 1.2rem;
            color: #333;
            text-align: center;
            white-space: nowrap;
          }
          .type-point {
            margin-top: 1.5rem;
            font-size: 2.2rem;
            line-height: 2.2rem;
            color: #ec644b;
            text-align: center;
            white-space: nowrap;
          }
        }
      }
    }
  }
  
}
