@import "../../style/variable";

.message-box {
  position: absolute;
  right: 10px;
  top: 10px;
}

.plan-main {
  padding-top: 10px;
  height: ~"calc(100% - 10px)";
  > .list {
    margin-bottom: 10px;
  }
  .practice-card {
    background-color: white;
    height: 75px;
    border-radius: 5px;
    > .header {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin: 0 5px 0 10px;
      img {
        display: block;
        margin-top: 12px;
      }
    }
    > .body {
      display: inline-block;
      width: ~"calc(100% - 65px - 42px)";
      vertical-align: middle;
      height: 100%;
      > .title {
        margin-top: 18px;
        margin-bottom: 11px;
        font-size: 16px;
        color: @color_context;
        line-height: 16px;
      }
      > .sub-title {
        font-size: 13px;
        line-height: 13px;
        color: #999999;
      }
    }
    > .footer {
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 100%;
      margin-right: 10px;
      img {
        display: block;
        margin-top: 12px;
        float: right;
      }
    }
  }
  .practice-card + .practice-card {
    margin-top: 10px;
  }
}

.plan-guide {
  position: absolute;
  top: 25px;
  left: 20px;
  > .section-title {
    font-size: 17px;
    color: @color_context;
    margin-bottom: 45px;
    line-height: 17px;
  }
  > .section {
    color: #666666;
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 10px;
    > label {
      color: #999999;
    }
  }
}

.problem-review{
  position: absolute;
  right:10px;
  margin-top:-31px;
  font-size:11px;
  width:65px;
  height:23px;
  background-color: @color_theme;
  color: #ffffff;
  text-align: center;
  line-height: 23px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  z-index: 10;
}

.modal-button-footer {
  display: block;
  position: inherit;
  font-size: 20px;
  width: 100%;
  height: @button_footer_height;
  text-align: center;
  line-height: @button_footer_height;
  background-color: @color_theme;
  border-radius: 0 0 25px 25px;
  color: white;
  &.complete {
    margin-top: 52px;
  }
  &.confirm {
    margin-top: 42px;
  }
  > .left {
    display: inline-block;
    width: ~"calc(50% - 1px)";
    border-right: 1px solid white;
    &.origin {
      background-color: @color_theme;
    }
    &.disabled {
      background-color: #cccccc;
    }
  }
  > .right {
    display: inline-block;
    width: 50%;
    &.disabled {
      background-color: #cccccc;
    }
  }

  > .button {
    width: 100%;
    &.disabled {
      background-color: #cccccc;
    }
  }
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  > .finished_modal {
    > img {
      position: absolute;
      left: 50%;
      margin-left: -145px;
      top: 50%;
      margin-top: -205px;
    }
    > .modal_context {
      width: 290px;
      position: absolute;
      left: 50%;
      margin-left: -145px;
      top: 50%;
      margin-top: -55px;
      text-align: center;
      > .title {
        font-size: 13px;
        color: @color_context;
      }
      > .sub-title {
        font-size: 15px;
        line-height: 15px;
        color: @color_context;
      }
      > .content {
        margin-top: 31px;
        font-size: 16px;
        line-height: 15px;
        > .number {
          color: #eece75;
        }
        > .text {
          margin-bottom: 41px;
          color: @color_context;
        }
        > .text2 {
          margin-bottom: 41px;
          color: #e59b64;
          font-size: 28px;
        }
      }
      > .content2 {
        font-size: 13px;
        line-height: 13px;
        > .number {
          margin: 0 5px;
          font-size: 25px;
          color: #fec928;
        }
        > .text {
          margin-bottom: 13px;
          color: @color_context;
          color: #999999;
        }
      }
      > .button {
        width: 110px;
        height: 30px;
        margin: 30px auto 0 auto;
        line-height: 30px;
        color: @color_context;
        border: 1px solid @color_theme;
        border-radius: 30px;
        font-size: 13px;
        text-align: center;
        &.finished {
          margin-top: 15px;
        }
      }
    }
  }
}
