@import "../../style/variable";

.plan-list-page {
  background: #efefef;
  min-height: 100%;
  .plp-running {

    .p-r-header {

      .p-r-h-title {
        font-size: @font_title;
        color: #9a9a9a;
        line-height: 17px;
        padding: 14px 0;
        &:before {
          content: "";
          width: 5px;
          height: 22px;
          border-radius: 10px;
          display: inline-block;
          background-color: @color_strong;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }
}
