@import "../../style/variable";

.rise-main-container {

  .sidebar-content {
    width: 100% !important;
    right: auto !important;
  }

  .header-img {
    position: relative;
    height: 175px;
    background-color: #CCEAEB;
    img {
      display: block;
    }
    overflow: hidden;
    > .back-img {
      position: absolute;
      width: 145px;
      height: 145px;
      left: ~"calc(50% - 72.5px)";
      background-size: 100% 100% !important;
    }
    > .outline {
      width: 30px;
      height: 50px;
      background-size: 30px 25px !important;
      position: absolute;
      left: 20px;
      top: 15px;
      & span {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-size: 1.3rem;
        color: #fff;
      }
    }
    > .card-collection {
      position: absolute;
      width: 35px;
      height: 55px;
      left: 17px;
      top: 75px;
      background: url("@{imgPathFragment}/card-collection_1.png?imageslim") no-repeat;
      background-size: 35px 35px;
      & span {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-size: 1.3rem;
        color: #fff;
      }
    }
    > .section-title {
      position: absolute;
      text-align: center;
      width: 75%;
      font-size: 2.0rem;
      line-height: 25px;
      color: #fff;
      top: 40%;
      left: 20%;
      transform: translateY(-50%);
    }
    > .section {
      position: absolute;
      bottom: 5px;
      left: 15px;
      font-size: 1.2rem;
      line-height: 1.2rem;
      color: #fef0c1;
    }
  }

  .relation-tab {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;

    > div {
      display: inline-block;
      float: left;
      height: 49px;
      width: 50%;
      color: #999999;
      text-align: center;
      line-height: 50px;
      font-size: 1.5rem;

      &.selected {
        border-bottom: 1px solid #55cbcb;
        color: #55cbcb;
      }
    }
  }

  > .first-open-rise-mask {
    top: 347px;
    height: ~"calc(100% - 347px)";
    position: absolute;
    z-index: 2000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .chapter-card-container {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 700;
    .card-mask {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, .6);
    }
    .printer-machine {
      position: relative;
      z-index: 800;
      .printer-close {
        padding-top: 5px;
        position: relative;
        height: 20px;
        div {
          position: absolute;
          top: 15px;
          right: 0;
        }
      }
      .printer-top {
        text-align: center;
        height: 32px;
        .printer-header {
          width: 75%;
          display: inline-block;
          background-color: #dbdbdb;
          border-radius: 5px 5px 0 0;
          height: 32px;
          padding: 0 10px;
          position: relative;
          .header-left {
            height: 32px;
            line-height: 32px;
            font-size: 1.8rem;
            font-weight: 400;
            position: absolute;
            left: 8%;
          }
          .header-right {
            height: 32px;
            line-height: 32px;
            font-size: 1.8rem;
            font-weight: 400;
            position: absolute;
            right: 8%;
          }
          .header-normal {
            width: 100%;
            height: 32px;
            font-size: 1.2rem;
            line-height: 32px;
          }
          div {
            display: inline-block;
          }
        }
      }
      .printer-body {
        height: 120px;
        background-color: rgb(237, 237, 237);
        border-radius: 10px 10px 0 0;
        > img {
          width: 132px;
          height: 103.5px;
          display: block;
          margin: 0 auto;
          position: relative;
          top: -60px;
          transition: transform 1s;
        }
        .save-tip {
          padding-top: 10px;
          text-align: center;
          font-size: 18px;
          color: #000;
        }
        .share-tip {
          position: relative;
          height: 70px;
          top: -70px;
          text-align: center;
          border-radius: 5px;
          margin: 5px auto;
          padding: 5px 0;

          .share-tip-origin {
            position: absolute;
            display: block;
            width: 100%;
            opacity: 1;
            transition: opacity 1s;
          }
          .share-tip-changed {
            position: absolute;
            display: block;
            width: 100%;
            opacity: 0;
            transition: opacity 1s;
            margin-top: -20px;
          }

          .card-tips {
            font-size: 2.6rem;
            color: #4E677b;
            text-align: center;
            line-height: 20px;
            padding: 5px;
            &.small {
              color: #000;
              font-size: 1.5rem;
            }
          }
          .card-moenty {
            height: 38px;
            width: 38px;
            background: url('../../../assets/img/rise_trial_money.png') no-repeat center center/100% 100%;
            position: absolute;
            top: -21px;
            right: -50px;

          }
          #changed {
            height: 70px;
            .step-one {
              display: inline-block;
              position: relative;
              width: 40%;
              height: 70px;
              margin-right: 20px;
              border-radius: 5px;
              border: 1px solid #333;
              img {
                width: 60px;
                height: 22px;
                position: absolute;
                left: ~"calc(50% - 30px)";
                top: -10px;
              }
              span {
                display: block;
                margin-top: 15px;
                font-size: 1.4rem;
              }

            }
            .step-two {
              display: inline-block;
              position: relative;
              width: 40%;
              height: 70px;
              margin-left: 20px;
              border-radius: 5px;
              border: 1px solid #333;
              img {
                width: 60px;
                height: 22px;
                position: absolute;
                left: ~"calc(50% - 30px)";
                top: -10px;
              }
              span {
                display: block;
                margin-top: 15px;
                font-size: 1.4rem;
              }
            }
            .changed-tip {
              text-align: center;
              padding-top: 3px;
              font-size: 1.0rem;
              color: #666;
            }
          }

        }
        .share-tip-normal {
          .tip-normal-top {
            padding-top: 25px;
            text-align: center;
            font-size: 1.6rem;
            color: #000;
          }
          .tip-normal-bottom {
            text-align: center;
            font-size: 1.6rem;
            color: #000;
          }
        }
      }
      .printer-gap {
        height: 5px;
        background-color: rgb(179, 182, 185);
      }
      .printer-port {
        height: 49px;
        position: relative;
        background-color: rgb(45, 59, 62);
        .clear-mg {
          height: 1px;
        }
        .mask-port {
          box-shadow: 0px 9px 8px 6px rgba(0, 0, 0, 0.3);
          width: 90%;
          height: 1px;
          position: relative;
          z-index: 10;
          margin: 0 auto;
        }
        .printer-push-port {
          position: relative;
          width: 70%;
          margin: 10px auto 0;
          height: 26px;
          border-radius: 10px;
          background-color: rgb(0, 0, 0);
          .chapter-card-wrapper {
            width: 90%;
            margin: 5px auto 0;
            position: relative;
            overflow: hidden;
            overflow-y: scroll;
            .card-pic {
              width: 100%;
              height: auto;
              transform: translateY(-100%);
              -webkit-transition: transform 2s cubic-bezier(1, .16, .44, .97);
              -moz-transition: transform 2s cubic-bezier(1, .16, .44, .97);
              -ms-transition: transform 2s cubic-bezier(1, .16, .44, .97);
              -o-transition: transform 2s cubic-bezier(1, .16, .44, .97);
              transition: transform 2s cubic-bezier(1, .16, .44, .97);
              &.show {
                transform: translateY(0%);
              }
              img {
                width: 100%;
                height: auto;
              }
            }
          }
          .push-mask {
            height: 15px;
            width: 100%;
            position: absolute;
            top: 5px;
            left: 0;
            z-index: 20;
          }
        }

        .printer-waiting {
          width: 8px;
          height: 8px;
          background: #6EBA46;
          transition: opacity 500ms;
          opacity: 0;
          border-radius: 50%;
          position: absolute;
          right: 10px;
          bottom: 15px;
        }
      }
      .printer-bottom {
        height: 36px;
        border-radius: 0 0 5px 5px;
        background-color: #CCC;
      }
    }
  }

  .trial-tip {
    background: url('@{imgPathRoot}/become_risemember_2.png?imageslim') no-repeat center center/100% 100%;
    position: absolute;
    z-index: 20;
    right: 0;
    bottom: 5px;
    width: 82px;
    height: 40px;
    transform: translateX(82px);
    transition: transform 1s;
    transition-delay: 1s;
    &.open {
      transform: translateX(0px);
    }
  }

  .submit-btn-footer {
    &.grey {
      background: #afafaf;
    }
    display: block;
    border-radius: @border-radius;
    font-size: @font_title;
    width: 100%;
    height: @button_footer_height;
    text-align: center;
    line-height: @button_footer_height;
    background-size: 100% 100%;
    background-image: url('https://static.iqycamp.com/images/bottom_button_bg3.png?imageslim');
    color: #fff;
    > .left {
      border-radius: 0;
      display: inline-block;
      width: ~"calc(50% - 1px)";
      border-right: 1px solid white;
      background-size: 100% 100%;
      background-image: url('https://static.iqycamp.com/images/left_button_bg2.png?imageslim');
      &.disabled {
        background: #cccccc;
      }
    }
    > .right {
      &.grey {
        background: #afafaf;
      }
      border-radius: 0;
      display: inline-block;
      width: 50%;
      background-image: url('https://static.iqycamp.com/images/right_button_bg2.png?imageslim');
      background-size: 100% 100%;
      &.disabled {
        background: #cccccc;
      }
    }
    &.disabled {
      background: #cccccc;
    }
  }

  .plan-main {
    > .list {
      margin-bottom: 10px;
    }
    .practice-card {
      position: relative;
      background-color: #fff;
      height: 75px;
      border-radius: @border-radius;
      border-bottom: 1px solid #f5f5f5;
      > .header {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 20px;
        top: 12px;
        border-radius: 50px;
        margin: 0 5px 0 10px;
        > .practice-thumb {
          > div {
            position: absolute;
            width: 50px;
            height: 50px;
            background-size: 50px 50px !important;
            z-index: 2;
          }
          .bottom-platform {
            z-index: 1 !important;
          }
          .warmup {
            background: url("@{imgPathFragment}/category_warmup_1.png?imageslim");
          }
          .application {
            background: url("@{imgPathFragment}/category_application_1.png?imageslim");
          }
          .challenge {
            background: url("@{imgPathFragment}/category_challenge_1.png?imageslim");
          }
          .knowledge {
            background: url("@{imgPathFragment}/category_knowledge_1.png?imageslim");
          }
        }
        > .practice-complete {
          position: absolute;
          z-index: 3;
        }
        img {
          display: block;
        }
        z-index: 1;
      }
      > .locked {
        left: 20px;
        top: 12px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: absolute;
        margin: 0 5px 0 10px;
        background-color: rgba(0, 0, 0, 0.4);
        img {
          display: block;
          margin: 12px 15px;
        }
        z-index: 2;
      }
      > .body {
        position: absolute;
        left: 95px;
        display: inline-block;
        width: ~"calc(100% - 65px - 40px)";
        vertical-align: middle;
        height: 100%;
        .title {
          margin-top: 20px;
          font-size: 1.7rem;
          color: #666;
          line-height: 17px;
        }
        .desc {
          margin-top: 5px;
          color: #999;
          font-size: 1.3rem;
          font-weight: 300;
          line-height: 13px;
        }
        .completed-span {
          position: absolute;
          top: 50%;
          font-size: 12px;
          color: #ccc;
          transform: translateY(-50%);
          width: 45px;
          right: 5px;
        }
        .practice-start-btn {
          position: absolute;
          width: 45px;
          height: 60px;
          top: 5px;
          right: 5px;
          background-size: 100% 100% !important;
        }
      }
      > .footer {
        position: absolute;
        display: inline-block;
        vertical-align: top;
        right: 0;
        height: 100%;
        img {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }

  .plan-side-bar {
    color: #FFF;
    .side-header-title {
      height: 75px;
      font-size: @font_title;
      line-height: @font_title;
      background-color: #252933;
      border-bottom: 1px solid #1c1f28;
      width: 100%;
      .content {
        padding-left: 10px;
        display: inline-block;
        line-height: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
        color: #999;
        font-size: 18px;
      }
    }
    .side-content {
      background-color: #252933;
      .chapter-area {
        width: 100%;
        color: #999;
        &:not(:nth-last-of-type(1)) {
          border-bottom: 1px solid #1c1f28;
        }

        .cell {
          > div {
            display: table;
            width: 100%;
            > div {
              display: table-cell;
              vertical-align: middle;
            }
          }
          .label {
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;
          }
          .str {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
            margin-left: 5px;
          }
        }
        .chapter {
          font-size: @font_context;
          line-height: 60px;
          height: 60px;
        }
        .section {
          font-size: 15px;
          line-height: @font_context;
          height: 50px;
          &.open {
            background-color: #1c1f28;
            color: #fff;
          }
        }
        .description {
          position: relative;
          > div {
            position: relative;
            left: 15px;
            width: 20px;
            height: 23px;
            background: url('@{imgPathFragment}/sidebar-description.png?imageslim') no-repeat center;
            background-size: 20px 23px;
          }
          > span {
            position: relative;
            left: 20px;
            font-size: 16px;
            color: #999;
          }
        }
        .extension {
          position: relative;
          > div {
            position: relative;
            left: 15px;
            width: 20px;
            height: 23px;
            background: url('@{imgPathFragment}/sidebar-extension.png?imageslim') no-repeat center;
            background-size: 20px 23px;
          }
          > span {
            position: relative;
            left: 20px;
            font-size: 16px;
            color: #999;
          }
        }
      }
    }
  }

  .problem-review {
    position: absolute;
    right: 10px;
    margin-top: -31px;
    font-size: @font_help;
    width: 65px;
    height: 23px;
    background-color: @color_strong;
    color: #fff;
    text-align: center;
    line-height: 23px;
    border-radius: @border-radius;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .function-menu {
    background-color: #fff;
    color: @color_title;
    height: 50px;
    text-align: center;
    font-size: @font_title;
    border-bottom: 1px solid #f5f5f5;

    .menu {
      height: 50px;
      line-height: 50px;
      display: inline-block;
      float: left;
      width: ~"calc((100% - 4px) / 3) ";

      .problem_detail {
        height: 18px;
        margin-right: 5px;
        vertical-align: middle;
      }
    }

    .menu-split-line {
      display: inline-block;
      height: 50px;
      width: 2px;
      float: left;
      background-color: #f5f5f5;
    }

  }

  .plan-progress {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    color: @color_help;
    width: 100%;
    height: auto;

    .intro {
      position: relative;
      margin-top: 5px;
      .intro-chapter {
        position: relative;
        color: @color_title;
        z-index: 1;
        background-color: @color_weak_background;
        padding: 0 13px;
        display: inline-block;
      }
      .bar {
        height: 1px;
        width: 100%;
        position: absolute;
        top: 50%;
        background-color: @color_weak;
      }
    }

    .intro-section {
      margin-top: 5px;
      color: @color_title;
    }

  }

  .plan-study-btn-footer {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
      background-color: rgba(252, 251, 253, 0.9);
    }
    .psbf-wrapper {
      padding: 0 20px;
      position: relative;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .psbf-w-pre-wrapper {
        position: relative;
        z-index: 1;
        background: transparent;
        display: inline-block;
        float: left;
        .psbf-w-pre-btn {
          margin-top: 52px;
          padding: 0 15px;
          float: left;
          font-size: 1.2rem;
          line-height: 0;
          color: @color_strong;
          &.disabled {
            color: @color_help !important;
            &:before {
              background: url("../../../assets/img/rise_icon_pre_section_disabled.png") no-repeat center center/auto 100% !important;
            }
          }
          &:before {
            content: '';
            width: 14px;
            height: 18px;
            display: inline-block;
            background: url("../../../assets/img/rise_icon_pre_section.png") no-repeat center center/auto 100%;
            vertical-align: top;
            margin-right: -35px;
            margin-top: -35px;
          }
        }
      }
      .psbf-w-series-wrapper {
        padding: 18px 0;
        height: 18px;
        text-align: center;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
        span {
          height: 100%;
          font-size: 1.2rem;
          color: #999;
          width: 100%;
        }
      }
      .psbf-w-next-wrapper {
        position: relative;
        z-index: 1;
        display: inline-block;
        float: right;
        background: transparent;
        .psbf-w-next-btn {
          margin-top: 52px;
          float: right;
          font-size: 1.2rem;
          line-height: 0;
          color: @color_strong;
          &.complete {
            &:after {
              display: none;
            }
            &.disabled {
              color: @color_help !important;
              &:before {
                width: 14px !important;
                height: 18px !important;
                background: url("../../../assets/img/rise_icon_compete_plan_disabled.png") no-repeat center center/ 100% auto !important;
              }
            }
            &:before {
              content: '';
              width: 14px;
              height: 18px;
              display: inline-block;
              // 特殊样式替换，此处注释
              //background: url("../../../assets/img/rise_icon_compete_plan.png") no-repeat center center/ 100% auto;
              vertical-align: top;
              margin-right: -30px;
              margin-top: -35px;
            }
          }
          &.report {
            &:after {
              display: none;
            }
            &.disabled {
              color: @color_help !important;
              &:after {
                background: url("../../../assets/img/rise_icon_report_disabled.png") no-repeat center center/auto 100% !important;
              }
            }
            &:before {
              content: '';
              width: 14px;
              height: 18px;
              display: inline-block;
              // 特殊样式替换，此处注释
              //background: url("../../../assets/img/rise_icon_report.png") no-repeat center center/auto 100% !important;
              vertical-align: top;
              margin-right: -30px;
              margin-top: -35px;
            }
          }
          &:before {
            content: '';
            width: 14px;
            height: 18px;
            display: inline-block;
            background: url("../../../assets/img/rise_icon_next_section.png") no-repeat center center/auto 100%;
            vertical-align: top;
            margin-right: -15px;
            margin-top: -35px;
          }
        }
      }

      .click-btn {
        width: 100px;
        height: 76px;
      }
    }
  }

}

@keyframes riseMember-left-show {
  0% {
    transform: translateX(88px)
  }
  100% {
    transform: translateX(0px)
  }
}

/* perfect-scrollbar v0.7.0 */
.ps {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

.ps.ps--active-x > .ps__scrollbar-x-rail,
.ps.ps--active-y > .ps__scrollbar-y-rail {
  display: block;
  background-color: transparent;
}

.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
  background-color: #999;
  height: 11px;
}

.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  background-color: #999;
  width: 11px;
}

.ps > .ps__scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  bottom: 0px;
  /* there must be 'bottom' for ps__scrollbar-x-rail */
  height: 15px;
}

.ps > .ps__scrollbar-x-rail > .ps__scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  bottom: 2px;
  /* there must be 'bottom' for ps__scrollbar-x */
  height: 6px;
}

.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x, .ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x {
  height: 11px;
}

.ps > .ps__scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  right: 0;
  /* there must be 'right' for ps__scrollbar-y-rail */
  width: 15px;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  right: 2px;
  /* there must be 'right' for ps__scrollbar-y */
  width: 6px;
}

.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
  //width: 11px;
}

.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
  background-color: #999;
  height: 11px;
}

.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  background-color: #999;
  width: 11px;
}

.ps:hover > .ps__scrollbar-x-rail,
.ps:hover > .ps__scrollbar-y-rail {
  opacity: 0.6;
}

.ps:hover > .ps__scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}

.ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
  background-color: #999;
}

.ps:hover > .ps__scrollbar-y-rail:hover {
  //background-color: #eee;
  //opacity: 0.9;
}

.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
  //background-color: #999;
}

.empty-container {
  .empty-img {
    height: 100px;
    width: 100%;
    float: left;
    text-align: center;
    margin: 100px auto;
  }
  .empty-text {
    text-align: center;
    width: 100%;
    float: left;
    height: 1.6rem;
    line-height: 16px;
    font-size: 16px;
    padding: 20px;
    margin: -10px;
    color: #cccccc;
    span {
      line-height: 22px;
    }
  }
  .empty-button {
    float: left;
    width: 40%;
    margin-left: 30%;
    margin-top: 40px;
    background-color: #55CBCB;
    color: #ffffff;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
  }

}

@keyframes click-animate {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
