@import "../../style/variable";

.study-line-container{
  .problem-head{
    height: 17.5rem;
    &.major {
      background: #FFB200;
    }
    &.minor {
      background: #399BD3;
    }
    .problem-name{
      position: relative;
      left: 3.0rem;
      color: @color_white;
      bottom: 2.5rem;
      font-size: 2.2rem;
    }
  }
  .preview-practice{
    padding: 2.5rem 3.0rem;
    .preview-title{
      font-size: 1.8rem;
      color: @color_context;
      margin-bottom: 1.0rem;
    }
  }

  .practice-detail{
    > .status-icon{
      > .status-round{
        &.major {
          background: #FFB200;
        }
        &.minor {
          background: #399BD3;
        }
      }

      > .status-line{
        &.major {
          background: #FFB200;
        }
        &.minor {
          background: #399BD3;
        }
      }
    }

    > .title{

    }
  }

  .chapter-practice{
    .chapter{
      font-size: 1.8rem;
      color: @color_context;
      margin-bottom: 1.0rem;
    }
  }

  .review-practice{
    padding: 2.5rem 3.0rem;
    .review-title{
      font-size: 1.8rem;
      color: @color_context;
      margin-bottom: 1.0rem;
      span{
        font-size: 1.2rem;
      }
    }
  }
}
