@import "../../style/variable";

.study-line-container{
  .problem-head{
    height: 17.5rem;
    &.major {
      background: #FFB200;
    }
    &.minor {
      background: #399BD3;
    }
    .problem-name{
      position: relative;
      left: 3.0rem;
      color: @color_white;
      bottom: 2.5rem;
      font-size: 2.2rem;
    }
  }
  .preview-practice{
    padding: 2.5rem 3.0rem;
    .preview-title{
      font-size: 1.8rem;
      line-height: 1.8rem;
      color: @color_context;
      margin-bottom: 1.0rem;
    }
  }

  .practice-detail{
    margin-top: 2.0rem;
    > .status-icon{
      display: inline-block;
      height: 2.0rem;
      position: relative;
      margin-right: 2.0rem;
      > .status-round{
        position: relative;
        border-radius: 2.0rem;
        width: 2.0rem;
        height: 2.0rem;
        &.major {
          background: #FFB200;
        }
        &.minor {
          background: #399BD3;
        }
      }

      > .status-line{
        height: 2.0rem;
        position: relative;
        width: 0.1rem;
        &.major {
          background: #FFB200;
        }
        &.minor {
          background: #399BD3;
        }
      }
    }
    > .title{
      display: inline-block;
      font-size: 1.4rem;
      line-height: 2.0rem;
      color: @color_context;
    }
  }

  .chapter-practice{
    padding: 2.5rem 3.0rem;
    .chapter{
      font-size: 1.8rem;
      line-height: 1.8rem;
      color: @color_context;
      margin-bottom: 1.0rem;
    }
  }

  .review-practice{
    padding: 2.5rem 3.0rem;
    .review-title{
      font-size: 1.8rem;
      line-height: 1.8rem;
      color: @color_context;
      margin-bottom: 1.0rem;
      span{
        font-size: 1.2rem;
      }
    }
  }
}
