@import "../../../style/variable";

.new-work{
  overflow: hidden;
  margin-top: 10px;
  padding-bottom:10px;
  &:not(:nth-last-of-type(1)){
    border-bottom:1px solid #efefef;
  }
  > .submit-cell {
    > .submit-area {
      display: inline-block;
      width:100%;
      > .pic-list{
        overflow: hidden;
        > .pic{
          &:nth-of-type(odd){
            float: left;
            clear:both;
          }
          &:nth-of-type(even){
            float: right;;
          }
          width:45%;
          display: block;
          margin:10px auto;
        }
      }
      > .submit-head {
        line-height:13px;
        padding:10px auto;
        position: relative;
        &.top{
          height:30px;
        }
        &.left{
          height:13px;
        }
        > .submit-avatar {
          display: inline-block;
          border-radius: 40px;
          &.top{
            height: 30px;
            width: 30px;
            vertical-align: middle;
          }
          &.left{
            height:40px;
            width:40px;
            vertical-align: top;
          }
        }
        > .submit-name {
          display: inline-block;
          color: @color_title;
          font-size: 1.3em;
          margin-left:10px;
        }
        > .submit-time {
          display: inline-block;
          margin-left:10px;
          font-size: @font_help;
          line-height:@font_help;
          color: @color_help;
        }
        > .right{
          display: inline-block;
          position: absolute;
          top:0;
          right:0;
          img{
              vertical-align: top;
              margin-right: 5px;
              margin-top: 2px;
              height: 12px;
              width: 15px;
              display: inline;
          }
          > .submit-button {
            display: inline-block;
            color: @color_strong;
            font-size: @font_click;
            line-height:@font_click;
          }
        }
      }
      > .submit-title{
        color:@color_title;
        font-size:@font_title;
        line-height: @font_title;
        margin-top:5px;
        margin-bottom: 10px;
      }
      > .submit-content {
        line-height:23px;
        font-size: @font_context;
        > div {
          &.top{
            color:@color_context;
          }
          &.left{
            width: ~"calc(100% - 80px)";
            margin-left:50px;
            margin-top:7px;
            color:@color_context;
          }
        }
        > pre {
          white-space: pre-wrap;
          word-wrap: break-word;
        }
        ol,ul{
          padding:0 15px;
        }
      }

      > .show-all{
        float:right;
        font-size:@font_click;
        margin-top:-20px;
        color:@color_strong;
        z-index: 5;
        position: relative;
        background: white;
        padding: 0 1px;
      }

      > .operation-area{
        margin-top: 3px;
        &.top{
          width: 100%;
        }
        &.left{
          width: ~"calc(100% - 50px)";
          margin-left:50px;
        }
        span{
          line-height:@font_click;
          font-size:@font_click;
          color: @color_help;
        }
        > .vote{
          display: block;
          float: left;
          height: 25px;
          min-width: 35px;
          margin-right: 20px;
          > span{
            &:before {
              content: '';
              display: inline-block;
              vertical-align: bottom;
              width: 16px;
              height: 16px;
              margin-right:5px;
              margin-bottom:5px;
            }
          }
          > .disVote{
            &:before{
              background: url(http://www.iquanwai.com/images/iconGreyVote.png) no-repeat bottom center/13px 13px;
            }
          }
          > .voted{
            &:before{
              background: url(http://www.iquanwai.com/images/iconGreenVote.png) no-repeat bottom center/13px 13px;
            }
          }
        }
        > .comment{
          display: block;
          width:35px;
          height:25px;

          > span{
            &:before {
              background: url(http://www.iquanwai.com/images/iconComment.png) no-repeat bottom center/13px 10px;
              content: '';
              display: inline-block;
              vertical-align: bottom;
              width: 16px;
              height: 16px;
              margin-right:5px;
              margin-bottom:5px;
            }
          }
        }
      }
    }
  }
}
