.new-work{
  overflow: hidden;
  margin-top: 10px;
  padding-bottom:10px;
  &:not(:nth-last-of-type(1)){
    border-bottom:1px solid #efefef;
  }
  > .submit-cell {
    > .submit-area {
      display: inline-block;
      width:100%;
      > .pic-list{
        overflow: hidden;
        > .pic{
          &:nth-of-type(odd){
            float: left;
            clear:both;
          }
          &:nth-of-type(even){
            float: right;;
          }
          width:45%;
          display: block;
          margin:10px auto;
        }
      }
      > .submit-head {
        line-height:13px;
        padding:10px auto;
        position: relative;
        &.top{
          height:30px;
        }
        &.left{
          height:13px;
        }
        > .submit-avatar {
          display: inline-block;
          border-radius: 40px;
          &.top{
            height: 30px;
            width: 30px;
            vertical-align: middle;
          }
          &.left{
            height:40px;
            width:40px;
            vertical-align: top;
          }
        }
        > .submit-name {
          display: inline-block;
          color: #666666;
          font-size: 13px;
          margin-left:10px;
        }
        > .submit-time {
          display: inline-block;
          margin-left:10px;
          font-size: 10px;
          line-height:10px;
          color: #999999;
        }
        > .right{
          display: inline-block;
          position: absolute;
          top:0;
          right:0;
          > .submit-icon {
            float: left;
            display: inline-block;
            margin-right: 5px;
            margin-top: 2px;
            img{
              height: 12px;
              width: 15px;
              display: inline;
            }
          }
          > .submit-button {
            display: inline-block;
            color: #55cbcb;
            font-size: 13px;
            line-height:13px;
            margin-top: 3px;
          }
        }
      }
      > .submit-title{
        color:#333333;
        font-size:16px;
        line-height: 29px;
        margin-top:5px;
      }
      > .submit-content {
        line-height:23px;
        > pre {
          font-size: 13px;
          white-space: pre-wrap;
          word-wrap: break-word;
          &.top{
            width: 100%;
            color:#666666;
          }
          &.left{
            width: ~"calc(100% - 50px)";
            margin-left:50px;
            margin-top:7px;
            color:#333333;
          }
        }
      }

      > .show-all{
        float:right;
        font-size:13px;
        margin-top:-20px;
        color:#55cbcb;
        z-index: 5;
        position: relative;
        background: white;
        padding: 0 1px;
      }

      > .operation-area{
        &.top{
          width: 100%;
        }
        &.left{
          width: ~"calc(100% - 50px)";
          margin-left:50px;
        }
        span{
          line-height:13px;
          font-size:13px;
          color:#999999;
        }
        > .vote{
          display: block;
          float: left;
          height: 25px;
          min-width: 35px;
          margin-right: 20px;
          > span{
            &:before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              margin-right:5px;
              margin-bottom:5px;
            }
          }
          > .disVote{
            &:before{
              background: url(http://www.iquanwai.com/images/iconGreyVote.png) no-repeat center center/13px 13px;
            }
          }
          > .voted{
            &:before{
              background: url(http://www.iquanwai.com/images/iconGreenVote.png) no-repeat center center/13px 13px;
            }
          }
        }
        > .comment{
          display: block;
          min-width:35px;
          height:25px;

          > span{
            &:before {
              background: url(http://www.iquanwai.com/images/iconComment.png) no-repeat center center/13px 9px;
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              margin-right:5px;
              margin-bottom:2px;
            }
          }
        }
      }
    }
  }
}
