.section-progress-component {
  box-sizing: border-box;

  .progress-title {
    font-size: 1.8rem;
    line-height: 100%;
    color: #2c2c2c;
    text-align: center;
  }

  .progress-text {
    font-size: 1.3rem;
    width: 25%;
    height: 3.0rem;
    line-height: 3.0rem;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 2.5rem;
    display: inline-block;
    &.lock{
      background: url('../../../../assets/img/lock_icon.png') 10% center/1.0rem 1.3rem no-repeat;
      color: #999;
      text-indent: 0.4rem;
      background-color: #F8F8F8;
      border: #EEE solid 1px;
    }
    &.complete{
      border: #FFC701 solid 1px;
      color: #FFC701;
    }
    &.unlock{
      border: #FFC701 solid 1px;
      background-color: #FFC701;
      color: #fff;
    }
  }

}
