.section-progress-component {
  box-sizing: border-box;
  
  .progress-title {
    font-size: 1.8rem;
    line-height: 100%;
    color: #2c2c2c;
    text-align: left;
  }
  
  .progress-part {
    position: relative;
    margin-top: 2.5rem;
    width: 25%;
    display: inline-block;
    text-align: center;
    .progress-text {
      font-size: 1.1rem;
      color: #999;
    }
    .progress-icon {
      width: 1.8rem;
      height: 1.8rem;
      margin: 0.5rem auto 0;
      .progress-content {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        box-sizing: border-box;
        position: relative;
        z-index: 10;
      }
      &.lock {
        .progress-content {
          background-color: grey;
          &::before {
            position: absolute;
            content: ' ';
            width: 1.8rem;
            height: 1.8rem;
            background-image: url("https://static.iqycamp.com/images/progress-lock.png?imageslim");
            background-size: 1.8rem 1.8rem;
            left: 0;
          }
        }
        &::before {
          content: ' ';
          position: absolute;
          width: 50%;
          height: 0.3rem;
          background-color: #999;
          left: 0;
          top: 3rem;
        }
        &::after {
          content: ' ';
          position: absolute;
          width: 50%;
          height: 0.3rem;
          background-color: #999;
          top: 3rem;
        }
      }
      &.unlock {
        .progress-content {
          background-color: white;
          border: 0.3rem solid orange;
        }
        &::before {
          content: ' ';
          position: absolute;
          width: 50%;
          height: 0.3rem;
          background-color: orange;
          left: 0;
          top: 3rem;
        }
        &::after {
          content: ' ';
          position: absolute;
          width: 50%;
          height: 0.3rem;
          background-color: orange;
          top: 3rem;
        }
      }
      &.complete {
        .progress-content {
          background-color: orange;
          &::before {
            position: absolute;
            content: ' ';
            width: 1.8rem;
            height: 1.8rem;
            background-image: url("https://static.iqycamp.com/images/progress-complete.png?imageslim");
            background-size: 1.8rem 1.8rem;
            left: 0;
          }
        }
        &::before {
          content: ' ';
          position: absolute;
          width: 50%;
          height: 0.3rem;
          background-color: orange;
          left: 0;
          top: 3rem;
        }
        &::after {
          content: ' ';
          position: absolute;
          width: 50%;
          height: 0.3rem;
          background-color: orange;
          top: 3rem;
        }
      }
    }
    .beforenone {
      &::before {
        display: none;
      }
    }
    
    &:last-of-type {
      .progress-icon {
        &::after {
          display: none;
        }
      }
    }
  }
  
}
