.prize-card-container {
  display: block;
  position: relative;
  min-height: 100vh;
  background-color: #fff;

  .prize-waiting {
    .prize-title {
      display: block;
      padding-top: 3.5rem;
      text-align: center;
      font-size: 24px;
      color: #041931;
    }
    .prize-gift {
      display: block;
      width: 10rem;
      height: 9rem;
      margin: 10rem auto 0;
    }
    .prize-exchange {
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      margin-top: 5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 23rem;
      height: 4rem;
      line-height: 4rem;
      border: 1px solid #041931;
      font-size: 20px;
      color: #041931;
      border-radius: 20px;
      text-align: center;
    }
  }
  .prize-success {
    background: url("https://static.iqycamp.com/images/prize_success.png?imageslim") no-repeat scroll center;
    background-size: 375*110 / 667vh 115vh;
    background-position-y: -15vh;
    width: 100vw;
    height: 100vh;
  }
}
