@import "../../../style/variable";

.self-complete-complete {
  width: 100vw;
  height: 100vh;
  background: url("@{imgPathFragment}/self_complete_0326_1.png") no-repeat top center / 100vw;
  .self-complete-button {
    border-radius: 5px;
    background-color: @color_deep_background;
    color: #FFF;
    font-size: 2rem;
    text-align: center;
    width: 20rem;
    line-height: 5rem;
    height: 5rem;
    display: inline-block;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  > .share-tip {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    .tip-pic {
      position: absolute;
      top: 0;
      right: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

}
