@import "../../style/variable";

.personal-forum-question{
  position: relative;
  width:100%;
  height:100%;
  overflow-y: scroll;
  background-color:@color_white;
  .pfq-gutter{
    background-color:@color_weak_background;
    height:15px;
  }
  .pfq-answer{
    margin-bottom:10px;
  }
  .pfq-question,.pfq-answer{
    background-color: #FFF;
    .pfq-header {
      font-size: @font_click;
      color: @color_title;
      padding:15px 15px;
      border-bottom: 1px solid @color_weak;
      &:before{
        content: '';
        display: inline-block;
        width:3px;
        height:16px;
        border-radius:3px;
        background-color: @color_strong;
        vertical-align: sub;
        margin-right:10px;
      }
    }
    .pfq-body{
      margin:10px 15px;
      > .simple-question{
        &:last-of-type{
          border-bottom:none;
        }
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .pfq-answer{
        .topic{
          font-size:@font_context;
          color:@color_context;
          padding-bottom:5px;
        }
        .answer{
          color:@color_title;
          font-size:@font_click;
          line-height: 1.4em;
          margin-bottom:10px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          line-clamp: 4;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
        }
        &:not(:last-of-type){
          border-bottom: 1px solid @color_weak;
        }
      }
    }
  }
}
