@import "../../style/variable";

.profile {
  //TODO absolute 时有bug：底部上滑导航栏被遮盖
  position: relative;
  width: 100%;
  overflow-y: scroll;
  background-color: @color_weak_background;
  height: 100vh;

  -webkit-overflow-scrolling: touch;
  > .go-rise {
    margin-bottom: 20px;
    > .guide {
      height: 73px;
      background-color: @color_weak_background;
      text-align: center;
      > .first-guide {
        margin: 20px 28px 0;
        font-size: 14px;
        color: #333;
      }
      > .second-guide {
        margin-top: 5px;
        font-size: 12px;
        color: #999;
      }
    }
  }

  >.interval{
    height:1rem;
    background-color: #FFFFFF;
  }

  > .profile-container {
    font-size: 15px;

    .title-container {
      font-size: 1.3rem;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      color: #333333;
      padding-left: 20px;
    }

    > .profile-item {
      height: 60px;
      line-height: 60px;
      font-size: 15px;
      padding-left: 20px;
      color: #333333;
      overflow: hidden;
      vertical-align: middle;
      background-color: #ffffff;
      .address-tips {
        display: inline-block;
        color: #000;
        width: 60px;
        float: left;
        line-height: 50px;
      }
      > .address {
        width: ~"calc(100% - 80px)";
        resize: none;
        outline: none;
        border: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        -webkit-appearance: none;
        font-size: 15px;
        height: ~"calc(100% - 15px)";
        padding-top: 15px;
      }
      > .item-label {
        float: left;
      }
      > .item-content {
        float: right;
        position: relative;
        padding-right: 20px;
        font-size: 15px;
        width: 60%;
        text-align: right;

        > .select-wrapper {
          color: @color_help;
          margin-right: 10px;
          &-has {
            &:after {
              content: ' ';
              display: inline-block;
              background: url("https://static.iqycamp.com/images/mobilePersonalEnter.png?imageslim") no-repeat right center/  6px 11.5px;
              width: 6px;
              height: 11.5px;
              float: right;
              margin-top: 23px;
              margin-left: 10px;
            }
            > .form-item {
              display: inline-block;
              > .pc-box {
                > span {
                }
              }
            }
            > input {
              font-size: 15px;
              text-align: right;
              border: none;
            }
            &-no-cut {
              position: relative;
              > .form-item {
                display: inline-block;
                > .pc-box {
                  > span {
                  }
                }
              }
              > input {
                position: absolute;
                font-size: 15px;
                border: none;
                text-align: right;
                top: 20px;
                right: 0px;
                width:100%;
              }
            }
          }
          > .form-item {
            display: inline-block;
          }
          > input {
            font-size: 15px;
            text-align: right;
            border: none;
            &::-webkit-input-placeholder { /* WebKit browsers */
              color: @color_help;
            }
            &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color: @color_help;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
              color: @color_help;
            }
            &::-ms-input-placeholder { /* Internet Explorer 10+ */
              color: @color_help;
            }
          }
        }
        > .select-wrapper-choice {
          color: @color_help;
          &:after {
            content: ' ';
            display: inline-block;
            background: url("https://static.iqycamp.com/images/mobilePersonalEnter.png?imageslim") no-repeat right center/  6px 11.5px;
            width: 6px;
            height: 11.5px;
            float: right;
            margin-top: 21.75px;
            margin-left: 10px;
          }
          &-has {
            &:after {
              content: ' ';
              display: inline-block;
              background: url("https://static.iqycamp.com/images/mobilePersonalEnter.png?imageslim") no-repeat right center/  6px 11.5px;
              width: 6px;
              height: 11.5px;
              float: right;
              margin-top: 21.75px;
              margin-left: 10px;
            }
            > .form-item {
              display: inline-block;
              > .pc-box {
                > span {
                }
              }
            }
            > input {
              font-size: 15px;
              text-align: right;
              border: none;
              height: 20px;
            }
            &-no-cut {
              margin-right: 10px;
              > .form-item {
                display: inline-block;
                > .pc-box {
                  > span {
                  }
                }
              }
              > input {
                font-size: 15px;
                text-align: right;
                border: none;
              }
            }
          }
          > .form-item {
            display: inline-block;
          }
          > input {
            font-size: 15px;
            color: @color_strong;
            text-align: right;
            border: none;
            &::-webkit-input-placeholder { /* WebKit browsers */
              color: @color_help;
            }
            &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color: @color_help;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
              color: @color_help;
            }
            &::-ms-input-placeholder { /* Internet Explorer 10+ */
              color: @color_help;
            }
          }
        }
      }

      > .working-year-content {
        float: right;
        position: relative;
        padding-right: 20px;
        font-size: 15px;
        width: 50%;
        text-align: right;

        > .select-wrapper {
          color: @color_help;
          margin-right: 10px;
          &-has {
            &:after {
              content: ' ';
              display: inline-block;
              background: url("https://static.iqycamp.com/images/mobilePersonalEnter.png?imageslim") no-repeat right center/  6px 11.5px;
              width: 6px;
              height: 11.5px;
              float: right;
              margin-top: 23px;
              margin-left: 10px;
            }
            > .form-item {
              display: inline-block;
              > .pc-box {
                > span {
                }
              }
            }
            > input {
              font-size: 15px;
              text-align: right;
              border: none;
            }
            &-no-cut {
              position: relative;
              > .form-item {
                display: inline-block;
                > .pc-box {
                  > span {
                  }
                }
              }
              > input {
                position: absolute;
                font-size: 15px;
                border: none;
                text-align: right;
                top: 20px;
                right: 0px;
                width:100%;
              }
            }
          }
          > .form-item {
            display: inline-block;
          }
          > input {
            font-size: 15px;
            text-align: right;
            border: none;
            &::-webkit-input-placeholder { /* WebKit browsers */
              color: @color_help;
            }
            &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color: @color_help;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
              color: @color_help;
            }
            &::-ms-input-placeholder { /* Internet Explorer 10+ */
              color: @color_help;
            }
          }
        }
        > .select-wrapper-choice {
          color: @color_help;
          &:after {
            content: ' ';
            display: inline-block;
            background: url("https://static.iqycamp.com/images/mobilePersonalEnter.png?imageslim") no-repeat right center/  6px 11.5px;
            width: 6px;
            height: 11.5px;
            float: right;
            margin-top: 21.75px;
            margin-left: 10px;
          }
          &-has {
            &:after {
              content: ' ';
              display: inline-block;
              background: url("https://static.iqycamp.com/images/mobilePersonalEnter.png?imageslim") no-repeat right center/  6px 11.5px;
              width: 6px;
              height: 11.5px;
              float: right;
              margin-top: 21.75px;
              margin-left: 10px;
            }
            > .form-item {
              display: inline-block;
              > .pc-box {
                > span {
                }
              }
            }
            > input {
              font-size: 15px;
              text-align: right;
              border: none;
              height: 20px;
            }
            &-no-cut {
              margin-right: 10px;
              > .form-item {
                display: inline-block;
                > .pc-box {
                  > span {
                  }
                }
              }
              > input {
                font-size: 15px;
                text-align: right;
                border: none;
              }
            }
          }
          > .form-item {
            display: inline-block;
          }
          > input {
            font-size: 15px;
            color: @color_strong;
            text-align: right;
            border: none;
            &::-webkit-input-placeholder { /* WebKit browsers */
              color: @color_help;
            }
            &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color: @color_help;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
              color: @color_help;
            }
            &::-ms-input-placeholder { /* Internet Explorer 10+ */
              color: @color_help;
            }
          }
        }
      }

    }
  }

  > .profile-bottom {
    margin: 40px auto;
    > .submit-btn {
      margin: 0 auto;
      background-color: #FFE51D;
      color: #041932;
      height: 40px;
      font-size: 15px;
      line-height: 40px;
      text-align: center;
      border-radius: 5px;
      &.disabled {
        background: #cccccc;
      }
    }
  }

  .introduction-container {
    background: #FFFFFF;
    .introduction-header {
      padding: 20px 0px 10px 20px;
    }
    .introduction-body {
      position: relative;
      padding: 0px 6.7% 10px 6.7%;
      width: 86.3%;
      textarea {
        width:~"calc(100% - 40px)";
        border: 1px solid #d3d7da;
        font-size: 1.3rem;
        line-height: 2rem;
        padding:20px;
        resize:none;
        font-weight: lighter;
      }
    }
  }

}
