// 颜色
@color_white: #FFF;
@color_theme: #5BCACA;
@color_strong: #55CBCB;
@color_weak: #CCC;
@color_weak_background: #F3F4F6;
@color_weak_line: #F5F5F5;
@color_context: #333;
@color_title: #666;
@color_help: #999;
// 字体
@font_title: 1.7rem;
@font_context: 1.6rem;
@font_click: 1.3rem;
@font_index: 1.2rem;
@font_help: 1.1rem;
// 圆角
@border-radius: 4px;
// 按钮
@button_circle_height: 45px;
@button_footer_height: 49px;

// cdn fragment 目录
@imgPathRoot: "https://static.iqycamp.com/images";
@imgPathFragment: "https://static.iqycamp.com/images/fragment";

@imgBusinessBackground:"https://static.iqycamp.com/images/bg_diwen.png?imageslim";
