@import "../style/variable";

.activity-modal {
  width: 100%;
  top:0;
  position: absolute;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  .close {
    text-align: right;
    margin:4.7% 12% 3.5%;
  }
  .activity-pic {
    position: relative;
    width: 76%;
    margin-left: 12%;
  }
  .activity-message{
    position: relative;
    width: 76%;
    margin-left: 12%;
  }
}
