.audio {
  margin: 10px 0;
  width: 99%;
  height: 36px;
  border: 1px solid #e7e7e7;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .audio-container {
    padding: 0 5px;
  }
  & > * {
    vertical-align: middle;
  }
  .audio-btn {
    display: inline-block;
    height: 36px;
    border-color: #e7e7e7;
    padding: 0 5px;
    & > * {
      vertical-align: middle;
    }
  }
  .audio-duration {
    display: inline-block;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    width: 30%;
  }
  .audio-progress {
    display: inline-block;
    width: 50%;
    float: right;
  }
}

/**
* Rangeslider
*/
.rangeslider {
  margin: 15.5px 0;
  position: relative;
  background: #e7e7e7;
  .rangeslider__fill, .rangeslider__handle {
    position: absolute;
  }
  &, .rangeslider__fill {
    display: block;
  }
  .rangeslider__handle {
    background: #fff;
    border: 1px solid #cccccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    &:active {
      background: #999;
    }
  }
}

/**
* Rangeslider - Horizontal slider
*/
.rangeslider-horizontal {
  height: 5px;
  border-radius: 2.5px;
  .rangeslider__fill {
    height: 100%;
    background: #2aa8aa;
    border-radius: 10px;
    top: 0;
  }
  .rangeslider__handle {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -4.5px;
  }
}

/**
* Rangeslider - Vertical slider
*/
.rangeslider-vertical {
  margin: 20px auto;
  height: 150px;
  max-width: 10px;
  background: none;
  .rangeslider__fill {
    width: 100%;
    background: #27ae60;
    box-shadow: none;
    bottom: 0;
  }
  .rangeslider__handle {
    width: 30px;
    height: 10px;
    left: -10px;
    &:active {
      box-shadow: none;
    }
  }
}