@import "../style/variable";

.audio {
  margin: 10px 0;
  width: 99%;
  height: 36px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  -webkit-border-radius: @border-radius;
  -moz-border-radius: @border-radius;
  border-radius: @border-radius;
  .audio-container {
    padding: 0 5px;
  }
  & > * {
    vertical-align: middle;
  }
  .audio-btn {
    display: inline-block;
    height: 100%;
    border-color: #e7e7e7;
    margin: 8px 8px 8px 5px;
    vertical-align: middle;
    & > * {
      vertical-align: middle;
    }
  }
  .audio-duration {
    display: inline-block;
    font-size: 11px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    margin-left: 10px;
    width: 75px;
  }
  .audio-progress {
    display: inline-block;
    vertical-align: middle;
    width: ~"calc(100% - 120px)";
    height: 100%;
  }
}

/**
* Rangeslider
*/
.rangeslider {
  margin: 15.5px 0;
  position: relative;
  background: #e7e7e7;
  .rangeslider__fill, .rangeslider__handle {
    position: absolute;
  }
  &, .rangeslider__fill {
    display: block;
  }
  .rangeslider__handle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
  }
}

/**
* Rangeslider - Horizontal slider
*/
.rangeslider-horizontal {
  height: 5px;
  border-radius: 2.5px;
  .rangeslider__fill {
    height: 100%;
    background: #2aa8aa;
    border-radius: 10px;
    top: 0;
  }
  .rangeslider__handle {
    background: url('https://static.iqycamp.com/images/audio_round4.png?imageslim') no-repeat left center / 16px 16px;
    width: 16px;
    height: 16px;
    top: -15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

.audio-wrapper {
  audio {
    width: 100%;
  }
  .audio-words-container {
    position: relative;
    height: 6rem;
    overflow: hidden;
    &.show-all {
      height: auto;
    }
    .audio-words-btn {
      padding: 5px 0 10px;
      .awb-tips {
        color: @color_strong;
        font-size: 1.4em;
        line-height: 1.4em;
        font-weight: 300;
      }
      &:before {
        background: url('../../assets/img/rise_icon_audio.png') no-repeat center center / 15px auto;
        width: 15px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        margin-right: 8px;
        content: '';
      }
      &:after {
        background: url('../../assets/img/rise_icon_arrow_down.png') no-repeat center center / 12px auto;
        width: 12px;
        height: 17px;
        display: inline-block;
        vertical-align: text-bottom;
        margin-left: 5px;
        content: '';
      }
      &.open {
        &:after {
          background: url('../../assets/img/rise_icon_arrow_up.png') no-repeat center center / 12px auto;
        }
      }
    }
    .audio-words {
      border-radius: 3px;
      padding: 15px 10px 30px;
      color: @color_title;
      font-size: 1.5em;
    }
    .audio-mask {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-left: -50px;
      padding-left: 50px;
      height: 25px;
      text-align: center;
      &.hide {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
      }
      &.hide:after {
        transform: rotate(-180deg);
      }
      background: url('../../assets/img/bg_rectangle.png') no-repeat center center/100% auto;
      font-size: 1.2rem;
      color: #55cbcb;
      &:after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 20px;
        vertical-align: bottom;
        margin-left: 5px;
        background: url('../../assets/img/arrow_down_icon.png') no-repeat center center/100% auto;
      }
    }

  }
}
