.screen-mask-container{
  width:100%;
  height:100%;
  position: fixed;
  > .screen-mask{
    position: absolute;
    z-index: 100;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.1);
  }
  > .content-container{
    margin:0 auto;
     > .top{
       background: url('https://www.iqycamp.com/images/dropChoiceTop.png') center center/100% 100%;
       width:100%;
     }
  }
}
