.word-unfold-container{
  height: 1.4rem;
  .text{
    text-align: center;
    font-size: 1.4rem;
    color: #274365;
    line-height: 100%;
    &:after {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1.4rem;
      vertical-align: bottom;
      margin-left: 5px;
      background: url('../../assets/img/arrow_down_icon.png') no-repeat center center/100% auto;
    }
    &.collapse{
      display: none;
    }
  }
}
