@import "../../../style/variable";

.other-complete-component {
  width: 100vw;
  height: 100vh;
  background: url("@{imgPathRoot}/other_complete.png") no-repeat top center / 100vw;

  .complete-tips {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    left: 0;
    font-size: 1.5rem;
    padding: 0 3rem;
    color: #333;
    text-align: center;
  }
}
