@import "../../../style/variable";

.other-complete-component {
  width: 100vw;
  height: 100vh;
  background: url("@{imgPathFragment}/other_complete_0122.png?imageslim") no-repeat top center / 100vw;
  .content {
    position: absolute;
    bottom: 20rem;
    left: 0;
    width: 100%;
    .complete-tips {
      font-size: 1.3rem;
      width: 100%;
      color: #333;
      text-align: center;
    }
    .tips-qrcode-box {
      margin-top: 2rem;
      text-align: center;
      .tips-qrCode {
        width: 12rem;
        height: auto;
        display: inline-block;
      }
    }
  }
}
