@import "../../../style/variable";

.end {
  height: auto !important;
  background-color: #FFE7CA;
  > .end-pic{
    margin-top: -70px;
  }
  > .end-area{
    position: relative;
    top: 150px;
    left: 20%;
    > .end-avatar{
      display: inline-block;
    }
    > .end-user{
      margin-left: 20px;
      display: inline-block;
      vertical-align: top;
      > .end-text-user{
        margin-bottom: 10px;
      }
      > .end-text-result{
        border-radius: 15px;
        text-align: center;
        border: 1px solid #d00000;
        font-weight: 900;
        font-size: 18px;
        width: 100px;
      }
    }
  }
  > .end-text{
    margin: 0 15px;
    font-size: 20px;
  }
  > .share-button{

  }
}
