.problem-card-list-container {
  box-sizing: border-box;
  background: #fff;
  padding: 2rem;
  .card-section {
    position: relative;
    box-shadow: 0 3px 8px 0 rgba(73, 73, 73, 0.15);
    border-radius: 4px;
    width: 100%;
    height: 7.5rem;
    margin-bottom: 2rem;
    .card-abbreviation {
      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translateY(-50%);
      font-size: 1.6rem;
      color: #333333;
      text-align: left;
    }
    .card-count {
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: #b6b7bd;
      text-align: right;
    }
  }
}
