.quan-answer {
  background-color: #EFEFEF;
  > img.assetImg {
    display: block;
  }
  .quan-avatar {
    width: 5rem;
    height: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    border-radius: 5rem;
  }
  .header {
  }
  .header-msg {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    .quan-avatar {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
    }
    .msg {
      padding: 2rem 4rem;
      color: #666666;
      font-size: 1.3rem;
    }
  }
  .question-answer {
    background-color: #FFFFFF;
    margin-top: 1.5rem;

    .title-name {
      margin: 0 4rem;
      border-bottom: 1px solid #CCC;
      text-align: center;
      color: #333;
      font-size: 1.5rem;
      line-height: 20px;
      height: 20px;
      padding: 1.5rem;
      display: block;
      .title-text {
        position: relative;
        display: inline-block;
        margin-left: 25px;
        &:before {
          position: absolute;
          top: 50%;
          left: -10px;
          transform: translate(-100%, -50%);
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url('../../../assets/img/brain_thunder_icon.png') no-repeat center center/100% auto;
          vertical-align: top;
        }
      }
    }
  }
  .qa-question {
    font-size: 2rem;
    color: #333;
    background-color: #FFFFFF;
    .qa-bg {
      background: url('../../../assets/img/letter_q_icon.png') no-repeat left 10px;
      background-size: 60px auto;
      padding: 4.5rem 0 0;
      margin: 0 4rem 0 4rem;
      span {
        position: relative;
        display: inline-block;
        border-bottom: 1px solid #CCC;
        padding-bottom: 3rem;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          -webkit-transform: translate(-110%, -50%);
          -moz-transform: translate(-110%, -50%);
          -ms-transform: translate(-110%, -50%);
          -o-transform: translate(-110%, -50%);
          transform: translate(-110%, -50%);
          background: url('../../../assets/img/quotation_icon.png') no-repeat center center/ 100% auto;
        }
      }
    }
  }
  .qa-verse {
    padding: 0 4rem;
    background-color: #FFF;
    .qa-bg {
      background: url('../../../assets/img/qa-bg-a.png') no-repeat right 50px;
      background-size: 80px auto;
    }
    .quan-avatar {
      display: block;
      padding: 1.5rem 0;
    }
    .verse {
      position: relative;
      font-size: 2rem;
      color: #333333;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-110%, -50%);;
        -moz-transform: translate(-110%, -50%);;
        -ms-transform: translate(-110%, -50%);;
        -o-transform: translate(-110%, -50%);;
        transform: translate(-110%, -50%);;
        background: url('../../../assets/img/quotation_icon.png') no-repeat center center/ 100% auto;
      }
    }
  }
  .qa-audio-msg {
    font-size: 1.2rem;
    color: #333333;
    padding: 3rem 4rem 0 4rem;
    background-color: #FFFFFF;
  }
  .audio-words {
    background-color: #FFFFFF;
    color: #333;
    padding: 1rem 4rem 4rem 4rem;
    .tips {
      color: #666666;
      font-size: 1.2rem;
      text-align: center;
      display: block;
    }
    .text {
      font-size: 1.5rem;
    }
    .qa-answer-part {
      height: 7rem;
      position: relative;
      overflow: hidden;
      .show-tips {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        margin-left: -50px;
        padding-left: 50px;
        height: 40px;
        text-align: center;
        background: url('../../../assets/img/bg_rectangle.png') no-repeat center center/100% auto;
        font-size: 1.2rem;
        color: #55cbcb;
        span {
          margin-top:10px;
          display: inline-block;
          &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 20px;
            background: url('../../../assets/img/arrow_down_icon.png') no-repeat center center/100% auto;
            vertical-align: bottom;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .audio-wrapper {
    background-color: #FFF;
    padding: 10px 4rem;
    .audio {
      margin: 0;
    }
  }

  .next-question {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    .title-name {
      margin: 0 4.5rem 0 4rem;
      border-bottom: 1px solid #CCC;
      text-align: center;
      color: #333;
      font-size: 1.5rem;
      height: 20px;
      line-height: 20px;

      padding: 1.5rem;
      display: block;
      .title-text {
        position: relative;
        display: inline-block;
        margin-left: 25px;
        &:before {
          position: absolute;
          top: 50%;
          left: -10px;
          transform: translate(-100%, -50%);
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url('../../../assets/img/pc_word_icon.png') no-repeat center center/100% auto;
          vertical-align: top;
          margin-right: 10px;
        }
      }
    }
    .text {
      padding: 2rem 4rem;
      font-size: 1.5rem;
      color: #333;

    }
  }
  .gutter {
    background-color: #EFEFEF;
    height: 65px;
  }
  .audio-wrapper .audio {
    height: 46px;
    .audio-btn .assetImg {
      width: 30px !important;
      height: 30px !important;
    }
    .audio-progress {
      width: ~"calc(100% - 140px)";
    }

  }
}
