.activity-home-component {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 10rem;
  margin: 2rem 0 4rem;
  .name {
    position: absolute;
    top: 0;
    font-size: 1.7rem;
    color: #333333;
  }
  .holder {
    position: absolute;
    top: 3.5rem;
    font-size: 1.3rem;
    color: #333333;
    text-align: left;
  }
  .holding-time {
    position: absolute;
    top: 6rem;
    font-size: 1.2rem;
    color: #666666;
    text-align: left;
  }
  .location {
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    color: #999999;
    text-align: left;
  }
  .status {
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    bottom: 0;
    right: 11rem;
    &.prepare {
      color: #ff983f;
    }
    &.closed {
      color: #666666;
    }
    &.review {
      color: #4fd3cd;
    }
  }
  .thumbnail {
    position: absolute;
    right: 0;
    top: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 4px;
  }
}
