.annual-summary-twostep-component {
  .first-button{
    width: 14rem;
    height: 4.4rem;
    color: #fff;
    font-size: 2rem;
    line-height: 4.4rem;
    border-radius: 5px;
    text-align: center;
    background-color: #f8aa08;

    position: absolute;
    bottom: 3.5rem;
    left: 7%;
    z-index: 11;
  }
  .second-button{
    width: 14rem;
    height: 4.4rem;
    color: #f8aa08;
    font-size: 2rem;
    line-height: 4.4rem;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;

    position: absolute;
    bottom: 3.5rem;
    right: 7%;
    z-index: 10;
  }
}
