.landing-page-container {
  box-sizing: border-box;
  padding: 5rem 2rem 6rem;
  background-color: #fff;
  .header {
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: lightcyan;
    .message {
      position: absolute;
      left: 2rem;
      line-height: 5rem;
    }
    .consult {
      position: absolute;
      right: 2rem;
      line-height: 5rem;
    }
  }
  .home-swiper {
    height: 16rem;
    padding-bottom: 2rem;
  }
  .business-apply {
    margin-top: 2rem;
    width: 100%;
    height: 9.4rem;
    background: url("https://static.iqycamp.com/images/fragment/camp_promotion_banner_03_1.png?imageslim") no-repeat center center / 100% 9.4rem;
    border-radius: 4px;
  }
  .content-box {
    margin-top: 6rem;
    .content-header {
      position: relative;
      height: 3rem;
      .content-title {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 2.2rem;
        color: #333333;
      }
      .more {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 3rem;
        font-size: 1.5rem;
        color: #999;
      }
    }
  }
  .bottom-text {
    font-size: 1.3rem;
    color: #666666;
    text-align: center;
  }
}
