.editor-top-bar-component {
  display: block;
  height: 5rem;
  background-color: #fff;
  padding: 0 2rem;
  line-height: 5rem;
  border: 1px solid #f1f1f1;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  .left-label {
    font-size: 1.4rem;
    color: #999999;
    float: left;
  }
  .description {
    font-size: 1.7rem;
    color: #333333;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .right-label {
    font-size: 1.4rem;
    color: #ffb200;
    float: right;
  }
}
