@import "../variable";


.ans-comment-container {

  .ans-comment-page {
    position: relative;
    padding: 15px;

    .ans-desc {
      border-bottom: 1px solid @color_weak;
      margin: 0 -15px;
      padding: 0 15px 15px;

      .ans-content {
        color: @color_title;
        font-size: 1.4em;
        line-height: 1.4em;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }


    .ans-comment-list {

      .ans-comment-desc {
        border-bottom: 1px solid @color_weak;
        margin: 0 -15px;
        padding: 15px;

        .dialog-right-content  {
          border: 0;
          color: @color_strong;
        }

        .ans-comment-content {
          font-size: 1.4em;
          line-height: 1.4em;
          color: @color_title;
          margin-top: 15px;
          padding-left: 35.5px;
        }

        .ans-comment-replied {
          font-size: @font_index;
          line-height: @font_index;
          color: @color_help;
          margin-top: 15px;
          padding-left: 35.5px;
        }
      }
    }
  }
}
