@import "../variable";


.ans-comment-container {

  .ans-comment-page {
    position: relative;
    top: 30px;

    .ans-desc {
      padding: 1px 8px;
      border-bottom: 1px solid @color_weak;

      .ans-content {
        color: @color_title;
        font-size: @font_click;
      }
    }


    .ans-comment-list {

      .ans-comment-desc {
        padding: 1px 8px;
        border-bottom: 1px solid @color_weak;

        .ans-comment-content {

        }
      }
    }
  }
}
