@import "../variable";

.answer-container {

  .answer-page {
    height: 100%;
    position: relative;
    padding: 15px;

    .answer-head-topic {
      font-size: 1.6em;
      color: @color_context;
    }

    .grey-banner {
      margin: 0 -15px;
      background-color: @color_weak_background;
    }

    .ques-desc {
      margin-top: 20px;

      .ques-content {
        margin-top: 20px;
        color: @color_title;
        font-size: 1.5em;
        line-height: 1.5em;
      }
    }

    .answer-tips {
      margin: 0 -15px;
      padding: 25px 15px;
      height: 100%;
      color: @color_title;
      background-color: @color_weak_background;


      span {
        font-size: @font_click;
        line-height: 1.9em;
        display: block;
      }
    }

    .answer-list {

      .answer-desc {
        border-bottom: 1px solid @color_weak;
        margin: 0 -15px;
        padding: 15px 15px;

        .answer-content {
          font-size: 1.4em;
          line-height: 1.4em;
          color: @color_title;
          margin-top: 15px;
          max-height: 5.2em;
          overflow: hidden;
        }
      }
    }

    .answer-editor {
      margin-top: 15px;
      margin-bottom: 50px;
    }

  }
}
