@import "../variable";

.answer-container {

  .answer-page {
    position: relative;
    top: 30px;

    .ques-desc {
      padding: 1px 8px;
      border-bottom: 1px solid @color_weak;

      .ques-content {
        color: @color_title;
        font-size: @font_click;
      }
    }

    .answer-tips {
      width: 60%;
      margin: 40px auto;
      color: @color_title;
      line-height: 2em;

      span {
        display: block;
      }
    }

    .answer-list {

      .answer-desc {
        padding: 1px 8px;
        border-bottom: 1px solid @color_weak;

        .answer-content {
          color: @color_title;
          font-size: @font_click;
        }
      }
    }

  }
}
