@import "../variable.less";

.question-container {
  overflow: scroll;
  height: ~"calc(100% + 1px)";

  .question-feedback {
    height: 26px;
    background-color: @color_strong;
    span {
      font-size: 1.3em;
      line-height: 1.3em;
      color: #FFF;
      display: inline-block;
      margin: 5px 15px;
    }
  }

  .question-page {
    overflow: scroll;
    height: ~"calc(100% - 26px)";
    &.toolbar{
      height: ~"calc(100% - 26px - 50px)";
    }
    .search-nav{
      margin: 10px 0 10px 15px;
      width: ~"calc(100% - 91px)";
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: @border-radius;
      background-color: @color_weak_background;
      vertical-align: top;
      .search{
        width: 100%;
        &:before{
          background: url('https://static.iqycamp.com/images/fragment/search.png?imageslim') no-repeat bottom center/13px 13px;
          content: '';
          width: 13px;
          height: 13px;
          margin: 0 2px 3px;
          display: inline-block;
          vertical-align: middle;
        }
        .search-input {
          width: ~"calc(100% - 17px)";
          font-size: @font_click;
          border-radius: 5px;
          color: @color_context;
          border: none;
          height: 25px;
          line-height: 25px;
          -webkit-appearance: none;
          background-color: @color_weak_background;
          box-shadow:0 0 0 rgba(0,0,0,0);
        }
      }
    }

    .ques-nav-btn {
      display: inline-block;
      margin: 0 18px;
      height: 47px;
      line-height: 47px;
      width: 38px;
      text-align: center;
      .ques-btn{
        font-size: @font_index;
        color: @color_title;
      }
    }

    .ques-list {
      .simple-ques-desc {
        padding: 10px 15px;
        background-color: #fff;
        margin-bottom: 1px;
        .simple-ques-title {
          color: @color_context;
          font-size: @font_context;
          line-height: @font_context;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
        }
      }
      .ques-desc {
        padding: 10px 15px;

        .ques-title {
          margin-left: 35px;
          color: @color_context;
          font-size: @font_context;
          line-height: @font_context;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
        }
        .ques-content {
          margin-top: 15px;
          margin-left: 35px;
          color: @color_help;
          font-size: @font_click;
          line-height: @font_click;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
        .ques-answer-persons {
          margin-top: 10px;
          font-size: @font_help;
          text-align: right;
          color: @color_strong;
        }
      }
    }
  }

  .grey-banner {
    font-size: @font_click;
    color: @color_help;
    background-color: @color_weak_background;
  }

}
