@import "../variable.less";

.question-init-container {

  .question-page {
    position: relative;
    top: 30px;
    border-bottom: 1px solid @color_weak;

    .tag-list{
      .tag{
        display: inline-block;
        border: 1px solid @color_weak;
        margin-left: 15px;
        border-radius: @border-radius;
      }
      border-bottom: 1px solid @color_weak;
    }
  }
}
