@import "../variable.less";


.submit-answer-container {

  .submit-answer-page {
    position: relative;
    top: 30px;

    .ques-desc {
      padding: 1px 8px;
      border-bottom: 1px solid @color_weak;

      .ques-content {
        color: @color_title;
        font-size: @font_click;
      }
    }

    .editor {
      margin: 10px 15px;

      .article-content {
        height: 300px;
      }
    }
  }
}
