@import "../variable.less";

.question-detail-container {
  overflow: scroll;
  height: ~"calc(100% + 1px)";

  .question-page {
    .page-title{
      font-size: @font_title;
      text-align: center;
      color: @color_title;
      margin: 15px 0;
    }
    .tag-list-text {
      font-size: 1.3em;
      color: @color_help;
      margin: 0 15px 20px 15px;
    }
    .tag-list{
      .tag-line{
        margin-bottom: 20px;
        .tag{
          display: inline-block;
          margin-left: ~"calc((100% - 234px)/4)";
          height: 24px;
          width: 78px;
          border: 1px solid @color_strong;
          border-radius: @border-radius;
          font-size: 1.3em;
          line-height: 24px;
          text-align: center;
          color: @color_strong;
          background-color: @color_white;
        }
        .tag-selected{
          display: inline-block;
          margin-left: ~"calc((100% - 234px)/4)";
          height: 24px;
          width: 78px;
          border: 1px solid @color_strong;
          border-radius: @border-radius;
          font-size: 1.3em;
          line-height: 24px;
          text-align: center;
          color: @color_white;
          background-color: @color_strong;
        }
      }

      border-bottom: 10px solid @color_weak_background;
    }

    .question-title{
      width: ~"calc(100% - 30px)";
      margin-left: 15px;
      margin-top: 20px;
      .length-div{
        margin-right: 10px;
        margin-top: -25px;
        .length-tip{
          color: @color_help;
          font-size: 11px;
          text-align: right;
        }
      }
      textarea{
        border-radius: @border-radius;
        height: 74px;
        width: ~"calc(100% - 26px)";
        display: inline-block;
        resize: none;
        border: 1px solid #ccc;
        font-size: 16px;
        padding: 10px 12px;
        box-shadow:0 0 0 rgba(0,0,0,0);
        -webkit-appearance:none;
        &::-webkit-input-placeholder{
          color: @color_weak;
          line-height: @font_context;
        }
      }
    }

    .question-detail{
      width: ~"calc(100% - 30px)";
      margin-left: 15px;
      margin-top: 40px;
      .editor {
        padding-bottom: 120px;
      }
    }
  }
}
